## Series

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
first_series = pd.Series([1,2,3, np.nan ,"hello"])
first_series

0        1
1        2
2        3
3      NaN
4    hello
dtype: object

In [3]:
series = pd.Series([1,2,3, np.nan ,"hello"], index = ['A','B','C','Unknown','String'])
series
#indexing the Series with custom values

A              1
B              2
C              3
Unknown      NaN
String     hello
dtype: object

In [4]:
dict = {"Python": "Fun", "C++": "Outdated","Coding":"Hmm.."}
series = pd.Series(dict)
series
# Dict to pandas Series

Python         Fun
C++       Outdated
Coding       Hmm..
dtype: object

In [5]:
series[['Coding','Python']]

Coding    Hmm..
Python      Fun
dtype: object

In [6]:
series.index

Index(['Python', 'C++', 'Coding'], dtype='object')

In [7]:
series.values

array(['Fun', 'Outdated', 'Hmm..'], dtype=object)

In [8]:
series.describe()

count            3
unique           3
top       Outdated
freq             1
dtype: object

In [9]:
#Series is a mutable data structures and you can easily change any item’s value: 
series['Coding'] = 'Awesome'
series

Python         Fun
C++       Outdated
Coding     Awesome
dtype: object

In [10]:
# add new values:
series['Java'] = 'Okay'
series

Python         Fun
C++       Outdated
Coding     Awesome
Java          Okay
dtype: object

In [11]:
# If it is necessary to apply any mathematical operation to Series items, you may done it like below:
num_series = pd.Series([1,2,3,4,5,6,None])
num_series_changed = num_series/2
num_series_changed

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    NaN
dtype: float64

In [12]:
# NULL/NaN checking can be performed with isnull() and notnull().
print(series.isnull())
print(num_series.notnull())
print(num_series_changed.notnull())

Python    False
C++       False
Coding    False
Java      False
dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
dtype: bool

## DataFrames

In [13]:
data = {'year': [1990, 1994, 1998, 2002, 2006, 2010, 2014],
        'winner': ['Germany', 'Brazil', 'France', 'Brazil','Italy', 'Spain', 'Germany'],
        'runner-up': ['Argentina', 'Italy', 'Brazil','Germany', 'France', 'Netherlands', 'Argentina'],
        'final score': ['1-0', '0-0 (pen)', '3-0', '2-0', '1-1 (pen)', '1-0', '1-0'] }
world_cup = pd.DataFrame(data, columns=['year', 'winner', 'runner-up', 'final score'])
world_cup

   year   winner    runner-up final score
0  1990  Germany    Argentina         1-0
1  1994   Brazil        Italy   0-0 (pen)
2  1998   France       Brazil         3-0
3  2002   Brazil      Germany         2-0
4  2006    Italy       France   1-1 (pen)
5  2010    Spain  Netherlands         1-0
6  2014  Germany    Argentina         1-0

In [14]:
# Another way to set a DataFrame is the using of Python list of dictionaries:

data_2 = [{'year': 1990, 'winner': 'Germany', 'runner-up': 'Argentina', 'final score': '1-0'}, 
          {'year': 1994, 'winner': 'Brazil', 'runner-up': 'Italy', 'final score': '0-0 (pen)'},
          {'year': 1998, 'winner': 'France', 'runner-up': 'Brazil', 'final score': '3-0'}, 
          {'year': 2002, 'winner': 'Brazil', 'runner-up': 'Germany', 'final score': '2-0'}, 
          {'year': 2006, 'winner': 'Italy','runner-up': 'France', 'final score': '1-1 (pen)'}, 
          {'year': 2010, 'winner': 'Spain', 'runner-up': 'Netherlands', 'final score': '1-0'}, 
          {'year': 2014, 'winner': 'Germany', 'runner-up': 'Argentina', 'final score': '1-0'}
         ]
world_cup = pd.DataFrame(data_2)
world_cup

  final score    runner-up   winner  year
0         1-0    Argentina  Germany  1990
1   0-0 (pen)        Italy   Brazil  1994
2         3-0       Brazil   France  1998
3         2-0      Germany   Brazil  2002
4   1-1 (pen)       France    Italy  2006
5         1-0  Netherlands    Spain  2010
6         1-0    Argentina  Germany  2014

In [15]:
print("First 2 Rows: ",end="\n\n")
print (world_cup.head(2),end="\n\n")
print ("Last 2 Rows : ",end="\n\n")
print (world_cup.tail(2),end="\n\n")
print("Using slicing : ",end="\n\n")
print (world_cup[2:4])

First 2 Rows:

  final score  runner-up   winner  year
0         1-0  Argentina  Germany  1990
1   0-0 (pen)      Italy   Brazil  1994

Last 2 Rows :

  final score    runner-up   winner  year
5         1-0  Netherlands    Spain  2010
6         1-0    Argentina  Germany  2014

Using slicing :

  final score runner-up  winner  year
2         3-0    Brazil  France  1998
3         2-0   Germany  Brazil  2002

### CSV
#### Reading:

`df = pd.read_csv("path\to\the\csv\file\for\reading")`
#### Writing:

`df.to_csv("path\to\the\folder\where\you\want\save\csv\file")`


### TXT file(s)
(txt file can be read as a CSV file with other separator (delimiter); we suppose below that columns are separated by tabulation):

#### Reading:

`df = pd.read_csv("path\to\the\txt\file\for\reading", sep='\t')`
#### Writing:

`df.to_csv("path\to\the\folder\where\you\want\save\txt\file", sep='\t')`
### JSON files
(an open-standard format that uses human-readable text to transmit data objects consisting of attribute–value pairs. It is the most common data format used for asynchronous browser/server communication. By its view it is very similar to Python dictionary)

#### Reading:

`df = pd.read_json("path\to\the\json\file\for\reading", sep='\t')`
#### Writing:

`df.to_json("path\to\the\folder\where\you\want\save\json\file", sep='\t')`

In [16]:
# To write world_cup Dataframe to a CSV File 
world_cup.to_csv("worldcup.csv")
# To save CSV file without index use index=False attribute

print("File Written!",end="\n\n")

#To check if it was written 
import os
print(os.path.exists('worldcup.csv'))

# reading from it in a new dataframe df
df = pd.read_csv('worldcup.csv')
print(df.head())

File Written!

True
   Unnamed: 0 final score  runner-up   winner  year
0           0         1-0  Argentina  Germany  1990
1           1   0-0 (pen)      Italy   Brazil  1994
2           2         3-0     Brazil   France  1998
3           3         2-0    Germany   Brazil  2002
4           4   1-1 (pen)     France    Italy  2006

In [17]:
# We can also load the data without index as : 
df = pd.read_csv('worldcup.csv',index_col=0)
print(df)

  final score    runner-up   winner  year
0         1-0    Argentina  Germany  1990
1   0-0 (pen)        Italy   Brazil  1994
2         3-0       Brazil   France  1998
3         2-0      Germany   Brazil  2002
4   1-1 (pen)       France    Italy  2006
5         1-0  Netherlands    Spain  2010
6         1-0    Argentina  Germany  2014

In [18]:
movies=pd.read_csv("data/movies.csv",encoding = "ISO-8859-1") 
# encoding is added only for this specific dataset because it gave error with utf-8

In [19]:
movies['release_date'] = movies['release_date'].map(pd.to_datetime)
print(movies.head(20))

#print(movies.describe())

    user_id  movie_id  rating  timestamp   age gender     occupation zip_code  \
0       196       242       3  881250949  49.0      M         writer    55105
1       305       242       5  886307828  23.0      M     programmer    94086
2         6       242       4  883268170  42.0      M      executive    98101
3       234       242       4  891033261  60.0      M        retired    94702
4        63       242       3  875747190  31.0      M      marketing    75240
5       181       242       1  878961814  26.0      M      executive    21218
6       201       242       4  884110598  27.0      M         writer    E2A4H
7       249       242       5  879571438  25.0      M        student    84103
8        13       242       2  881515193  47.0      M       educator    29206
9       279       242       3  877756647  33.0      M     programmer    85251
10      145       242       5  875269755  31.0      M  entertainment    V3N4P
11       90       242       4  891382267  60.0      M       educator    78155
12      271       242       4  885844495  51.0      M       engineer    22932
13       18       242       5  880129305  35.0      F          other    37212
14        1       242       5  889751633   NaN      M            NaN    85711
15      207       242       4  890793823  39.0      M      marketing    92037
16       14       242       4  876964570  45.0      M      scientist    55106
17      113       242       2  875075887  47.0      M      executive    95032
18      123       242       5  879809053   NaN      F         artist    20008
19      296       242       4  884196057  43.0      F  administrator    16803

     movie_title release_date   ...    Fantasy  Film-Noir  Horror  Musical  \
0   Kolya (1996)   1997-01-24   ...          0          0       0        0
1   Kolya (1996)   1997-01-24   ...          0          0       0        0
2   Kolya (1996)   1997-01-24   ...          0          0       0        0
3   Kolya (1996)   1997-01-24   ...          0          0       0        0
4   Kolya (1996)   1997-01-24   ...          0          0       0        0
5   Kolya (1996)   1997-01-24   ...          0          0       0        0
6   Kolya (1996)   1997-01-24   ...          0          0       0        0
7   Kolya (1996)   1997-01-24   ...          0          0       0        0
8   Kolya (1996)   1997-01-24   ...          0          0       0        0
9   Kolya (1996)   1997-01-24   ...          0          0       0        0
10  Kolya (1996)   1997-01-24   ...          0          0       0        0
11  Kolya (1996)   1997-01-24   ...          0          0       0        0
12  Kolya (1996)   1997-01-24   ...          0          0       0        0
13  Kolya (1996)   1997-01-24   ...          0          0       0        0
14  Kolya (1996)   1997-01-24   ...          0          0       0        0
15  Kolya (1996)   1997-01-24   ...          0          0       0        0
16  Kolya (1996)   1997-01-24   ...          0          0       0        0
17  Kolya (1996)   1997-01-24   ...          0          0       0        0
18  Kolya (1996)   1997-01-24   ...          0          0       0        0
19  Kolya (1996)   1997-01-24   ...          0          0       0        0

    Mystery  Romance  Sci-Fi  Thriller  War  Western
0         0        0       0         0    0        0
1         0        0       0         0    0        0
2         0        0       0         0    0        0
3         0        0       0         0    0        0
4         0        0       0         0    0        0
5         0        0       0         0    0        0
6         0        0       0         0    0        0
7         0        0       0         0    0        0
8         0        0       0         0    0        0
9         0        0       0         0    0        0
10        0        0       0         0    0        0
11        0        0       0         0    0        0
12        0        0       0         0    0        0
13        0        0       0         0    0        0
14        0        0       0         0    0        0
15        0        0       0         0    0        0
16        0        0       0         0    0        0
17        0        0       0         0    0        0
18        0        0       0         0    0        0
19        0        0       0         0    0        0

[20 rows x 30 columns]

In [20]:
movies_rating = movies['rating']
# Here we are showing only one column, i.e. a Series
print ('type:', type(movies_rating))
movies_rating.head()

type: <class 'pandas.core.series.Series'>

0    3
1    5
2    4
3    4
4    3
Name: rating, dtype: int64

In [21]:
# Filtering data 
# Let's display only women
movies_user_female = movies[movies['gender']=='F']
print(movies_user_female.head())

    user_id  movie_id  rating  timestamp   age gender     occupation zip_code  \
13       18       242       5  880129305  35.0      F          other    37212
18      123       242       5  879809053   NaN      F         artist    20008
19      296       242       4  884196057  43.0      F  administrator    16803
21      270       242       5  876953744  18.0      F        student    63119
22      240       242       5  885775683  23.0      F       educator    20784

     movie_title release_date   ...    Fantasy  Film-Noir  Horror  Musical  \
13  Kolya (1996)   1997-01-24   ...          0          0       0        0
18  Kolya (1996)   1997-01-24   ...          0          0       0        0
19  Kolya (1996)   1997-01-24   ...          0          0       0        0
21  Kolya (1996)   1997-01-24   ...          0          0       0        0
22  Kolya (1996)   1997-01-24   ...          0          0       0        0

    Mystery  Romance  Sci-Fi  Thriller  War  Western
13        0        0       0         0    0        0
18        0        0       0         0    0        0
19        0        0       0         0    0        0
21        0        0       0         0    0        0
22        0        0       0         0    0        0

[5 rows x 30 columns]

In [22]:
#to see all the different values possible for a given column
occupation_list = movies['occupation']
print(occupation_list)

0               writer
1           programmer
2            executive
3              retired
4            marketing
5            executive
6               writer
7              student
8             educator
9           programmer
10       entertainment
11            educator
12            engineer
13               other
14                 NaN
15           marketing
16           scientist
17           executive
18              artist
19       administrator
20             student
21             student
22            educator
23                 NaN
24              writer
25                 NaN
26                 NaN
27           marketing
28       administrator
29             student
             ...
99970         educator
99971            other
99972            other
99973            other
99974    administrator
99975           artist
99976           artist
99977           artist
99978           artist
99979           artist
99980           artist
99981    entertainment
99982          student
99983          student
99984           artist
99985           artist
99986           artist
99987          student
99988        librarian
99989           writer
99990              NaN
99991           artist
99992            other
99993            other
99994          student
99995          student
99996          student
99997          student
99998           writer
99999         engineer
Name: occupation, Length: 100000, dtype: object

### Work with indexes and MultiIndex option

In [23]:
import random
indexes = [random.randrange(0,100) for i in range(5)]
data = [{i:random.randint(0,10) for i in 'ABCDE'} for i in range(5)]
df = pd.DataFrame(data, index=[1,2,3,4,5])
df

   A  B  C  D  E
1  5  8  6  4  2
2  1  3  9  8  2
3  8  7  2  1  2
4  3  8  1  3  8
5  0  7  4  4  2

In [24]:
movies_user_gender_male = movies[movies['gender']=='M']
movies_user_gender_male_dup = movies_user_gender_male.drop_duplicates(keep=False)
print(movies_user_gender_male.head())
# From this we can clearly see age has missing value and that from 100,000 the data reduced to 74260, 
# due to filtering and removing duplicates

   user_id  movie_id  rating  timestamp   age gender  occupation zip_code  \
0      196       242       3  881250949  49.0      M      writer    55105
1      305       242       5  886307828  23.0      M  programmer    94086
2        6       242       4  883268170  42.0      M   executive    98101
3      234       242       4  891033261  60.0      M     retired    94702
4       63       242       3  875747190  31.0      M   marketing    75240

    movie_title release_date   ...    Fantasy  Film-Noir  Horror  Musical  \
0  Kolya (1996)   1997-01-24   ...          0          0       0        0
1  Kolya (1996)   1997-01-24   ...          0          0       0        0
2  Kolya (1996)   1997-01-24   ...          0          0       0        0
3  Kolya (1996)   1997-01-24   ...          0          0       0        0
4  Kolya (1996)   1997-01-24   ...          0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         0    0        0
2        0        0       0         0    0        0
3        0        0       0         0    0        0
4        0        0       0         0    0        0

[5 rows x 30 columns]

In [25]:
#gender = female and age between 30 and 40
gender_required = ['F']
filtered_df = movies[((movies['gender'] == 'F') & (movies['age'] > 30) & (movies['age'] <40))]
filtered_df

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
13,18,242,5,880129305,35.0,F,other,37212,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
27,129,242,4,883243972,36.0,F,marketing,07039,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
39,34,242,5,888601628,38.0,F,administrator,42141,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
42,209,242,4,883589606,33.0,F,educator,85710,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
110,861,242,5,881274504,38.0,F,NaN,14085,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
147,11,393,4,891905222,39.0,F,other,30329,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
157,269,393,1,891451036,31.0,F,librarian,43201,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
160,5,393,2,875636265,33.0,F,other,15213,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
161,18,393,3,880130930,35.0,F,NaN,37212,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
167,151,393,2,879528692,38.0,F,administrator,48103,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
178,152,393,5,884018430,33.0,F,educator,68767,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
187,330,393,4,876547004,35.0,F,educator,33884,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
210,450,393,4,882812349,35.0,F,educator,11758,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
213,457,393,3,882548583,33.0,F,salesman,30011,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
241,577,393,4,880475363,36.0,F,student,77845,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
246,593,393,4,886194041,31.0,F,educator,68767,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
267,716,393,3,879796596,36.0,F,administrator,44265,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
280,796,393,4,893218933,32.0,F,writer,33755,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
325,264,381,4,886123596,36.0,F,writer,90064,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
328,5,381,1,875636540,33.0,F,other,15213,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
329,18,381,4,880131474,35.0,F,other,37212,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
330,256,381,5,882165135,35.0,F,none,39042,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
331,151,381,5,879528754,38.0,F,administrator,48103,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
358,450,381,2,882374497,35.0,F,educator,11758,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
384,716,381,4,879795644,36.0,F,administrator,44265,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
387,786,381,3,882843397,36.0,F,engineer,01754,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
388,796,381,3,893047208,32.0,F,writer,33755,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
397,861,381,4,881274780,38.0,F,student,14085,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
406,911,381,5,892839846,37.0,F,writer,53210,Muriel's Wedding (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
423,79,251,5,891271545,39.0,F,administrator,03755,Shall We Dance? (1996),1997-07-11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99139,5,374,3,875636905,33.0,F,other,15213,Mighty Morphin Power Rangers: The Movie (1995),1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99146,911,374,1,892841118,37.0,F,writer,53210,Mighty Morphin Power Rangers: The Movie (1995),1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99189,18,958,5,880129731,35.0,F,other,37212,To Live (Huozhe) (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99235,450,1249,3,882812821,35.0,F,educator,11758,For Love or Money (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99249,796,1055,3,893188577,32.0,F,writer,33755,"Simple Twist of Fate, A (1994)",1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99255,264,1474,2,886123728,36.0,F,writer,90064,Nina Takes a Lover (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
99261,264,1475,2,886123596,36.0,F,writer,90064,Bhaji on the Beach (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99279,938,1254,1,891357019,38.0,F,technician,55038,Gone Fishin' (1997),1997-05-30,...,0,0,0,0,0,0,0,0,0,0
99294,269,1479,2,891451111,31.0,F,librarian,43201,Reckless (1995),1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99298,450,1479,3,882377479,35.0,F,educator,11758,Reckless (1995),1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99313,5,267,4,875635064,33.0,F,other,15213,unknown,NaT,...,0,0,0,0,0,0,0,0,0,0
99324,18,113,5,880129628,35.0,F,other,37212,"Horseman on the Roof, The (Hussard sur le toit...",1996-04-19,...,0,0,0,0,0,0,0,0,0,0
99333,18,973,3,880129595,35.0,F,other,37212,Grateful Dead (1995),1996-10-18,...,0,0,0,0,0,0,0,0,0,0
99352,151,1297,1,879542847,38.0,F,administrator,48103,Love Affair (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
99359,450,1297,4,882812635,35.0,F,educator,11758,Love Affair (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
99361,796,1297,2,893047504,32.0,F,writer,33755,Love Affair (1994),1994-01-01,...,0,0,0,0,0,1,0,0,0,0
99364,151,1299,4,879543423,38.0,F,administrator,48103,Penny Serenade (1941),1941-01-01,...,0,0,0,0,0,1,0,0,0,0
99370,796,1299,2,892676043,32.0,F,writer,33755,Penny Serenade (1941),1941-01-01,...,0,0,0,0,0,1,0,0,0,0
99452,688,1127,5,884153606,37.0,F,administrator,60476,"Truman Show, The (1998)",1998-01-01,...,0,0,0,0,0,0,0,0,0,0
99477,34,1024,5,888602618,38.0,F,administrator,42141,Mrs. Dalloway (1997),1997-01-01,...,0,0,0,0,0,1,0,0,0,0
99501,129,1176,4,883244059,36.0,F,marketing,07039,Welcome To Sarajevo (1997),1997-01-01,...,0,0,0,0,0,0,0,0,1,0
99541,356,1294,4,891405721,32.0,F,homemaker,92688,Ayn Rand: A Sense of Life (1997),1998-02-13,...,0,0,0,0,0,0,0,0,0,0
99561,796,1415,3,893219254,32.0,F,writer,33755,"Next Karate Kid, The (1994)",1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99630,450,1518,4,887138957,35.0,F,educator,11758,Losing Isaiah (1995),1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99642,577,1517,3,880475644,36.0,F,student,77845,Race the Sun (1996),1996-01-01,...,0,0,0,0,0,0,0,0,0,0
99648,450,1521,3,882812350,35.0,F,educator,11758,Mr. Wonderful (1993),1993-01-01,...,0,0,0,0,0,1,0,0,0,0
99660,796,1522,3,893194740,32.0,F,writer,33755,Trial by Jury (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
99695,577,1531,4,880475408,36.0,F,student,77845,Far From Home: The Adventures of Yellow Dog (1...,1995-01-01,...,0,0,0,0,0,0,0,0,0,0
99852,450,1603,3,887139728,35.0,F,educator,11758,Angela (1995),1996-02-16,...,0,0,0,0,0,0,0,0,0,0
99981,839,1664,1,875752902,38.0,F,entertainment,90814,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0

#### Note
In the above fragment you HAVE TO ADD parantheses to each and every argument that is being compared else you will get an error.

As you can see after filtering result tables (i.e. DataFrames) have non-ordered indexes. To fix this trouble you may write the following:

In [26]:
filtered_df = filtered_df.reset_index()
filtered_df.head(10)

,index,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,13,18,242,5,880129305,35.0,F,other,37212,Kolya (1996),...,0,0,0,0,0,0,0,0,0,0
1,27,129,242,4,883243972,36.0,F,marketing,07039,Kolya (1996),...,0,0,0,0,0,0,0,0,0,0
2,39,34,242,5,888601628,38.0,F,administrator,42141,Kolya (1996),...,0,0,0,0,0,0,0,0,0,0
3,42,209,242,4,883589606,33.0,F,educator,85710,Kolya (1996),...,0,0,0,0,0,0,0,0,0,0
4,110,861,242,5,881274504,38.0,F,NaN,14085,Kolya (1996),...,0,0,0,0,0,0,0,0,0,0
5,147,11,393,4,891905222,39.0,F,other,30329,Mrs. Doubtfire (1993),...,0,0,0,0,0,0,0,0,0,0
6,157,269,393,1,891451036,31.0,F,librarian,43201,Mrs. Doubtfire (1993),...,0,0,0,0,0,0,0,0,0,0
7,160,5,393,2,875636265,33.0,F,other,15213,Mrs. Doubtfire (1993),...,0,0,0,0,0,0,0,0,0,0
8,161,18,393,3,880130930,35.0,F,NaN,37212,Mrs. Doubtfire (1993),...,0,0,0,0,0,0,0,0,0,0
9,167,151,393,2,879528692,38.0,F,administrator,48103,Mrs. Doubtfire (1993),...,0,0,0,0,0,0,0,0,0,0

In [27]:
# set 'user_id' 'movie_id' as index 
filtered_df_new = filtered_df.set_index(['user_id','movie_id'])
filtered_df_new.head(10)

# Note that set_index takes only a list as an argument to it.
# if you remove the [] then only the first argument is set as the index.

,,index,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,IMDb_URL,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
user_id,movie_id,,,,,,,,,,,,,,,,,,,,,
18,242,13,5,880129305,35.0,F,other,37212,Kolya (1996),1997-01-24,http://us.imdb.com/M/title-exact?Kolya%20(1996),...,0,0,0,0,0,0,0,0,0,0
129,242,27,4,883243972,36.0,F,marketing,07039,Kolya (1996),1997-01-24,http://us.imdb.com/M/title-exact?Kolya%20(1996),...,0,0,0,0,0,0,0,0,0,0
34,242,39,5,888601628,38.0,F,administrator,42141,Kolya (1996),1997-01-24,http://us.imdb.com/M/title-exact?Kolya%20(1996),...,0,0,0,0,0,0,0,0,0,0
209,242,42,4,883589606,33.0,F,educator,85710,Kolya (1996),1997-01-24,http://us.imdb.com/M/title-exact?Kolya%20(1996),...,0,0,0,0,0,0,0,0,0,0
861,242,110,5,881274504,38.0,F,NaN,14085,Kolya (1996),1997-01-24,http://us.imdb.com/M/title-exact?Kolya%20(1996),...,0,0,0,0,0,0,0,0,0,0
11,393,147,4,891905222,39.0,F,other,30329,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,...,0,0,0,0,0,0,0,0,0,0
269,393,157,1,891451036,31.0,F,librarian,43201,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,...,0,0,0,0,0,0,0,0,0,0
5,393,160,2,875636265,33.0,F,other,15213,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,...,0,0,0,0,0,0,0,0,0,0
18,393,161,3,880130930,35.0,F,NaN,37212,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,...,0,0,0,0,0,0,0,0,0,0
151,393,167,2,879528692,38.0,F,administrator,48103,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# By default, `set_index()` returns a new DataFrame.
# so you’ll have to specify if you’d like the changes to occur in place.
# Here we used filtered_df_new to get the new dataframe and now see the type of filtererd_df_new 

print(type(filtered_df_new.index))

<class 'pandas.core.indexes.multi.MultiIndex'>

Notice here that we now have a new sort of 'index' which is `MultiIndex`, which contains information about indexing of DataFrame and allows manipulating with this data.

In [29]:
filtered_df_new.index.names
# Gives you the names of the two index values we set as a FrozenList

FrozenList(['user_id', 'movie_id'])

Method `get_level_values()` allows to get all values for the corresponding index level. 
`get_level_values(0)` corresponds to 'user_id' and `get_level_values(1)` corresponds to 'movie_id'

In [30]:
print(filtered_df_new.index.get_level_values(0))
print(filtered_df_new.index.get_level_values(1))

Int64Index([ 18, 129,  34, 209, 861,  11, 269,   5,  18, 151,
            ...
            129, 356, 796, 450, 577, 450, 796, 577, 450, 839],
           dtype='int64', name='user_id', length=5183)
Int64Index([ 242,  242,  242,  242,  242,  393,  393,  393,  393,  393,
            ...
            1176, 1294, 1415, 1518, 1517, 1521, 1522, 1531, 1603, 1664],
           dtype='int64', name='movie_id', length=5183)

### Selection by label and position
Object selection in pandas is now supported by three types of multi-axis indexing.

* `.loc` works on labels in the index;
* `.iloc` works on the positions in the index (so it only takes integers);
    
The sequence of the following examples demonstrates how we can manipulate with DataFrame’s rows.
At first let’s get the first row of movies:

In [31]:
movies.loc[0]

user_id                                                     196
movie_id                                                    242
rating                                                        3
timestamp                                             881250949
age                                                          49
gender                                                        M
occupation                                               writer
zip_code                                                  55105
movie_title                                        Kolya (1996)
release_date                                1997-01-24 00:00:00
IMDb_URL        http://us.imdb.com/M/title-exact?Kolya%20(1996)
unknown                                                       0
Action                                                        0
Adventure                                                     0
Animation                                                     0
Childrens                                                     0
Comedy                                                        1
Crime                                                         0
Documentary                                                   0
Drama                                                         0
Fantasy                                                       0
Film-Noir                                                     0
Horror                                                        0
Musical                                                       0
Mystery                                                       0
Romance                                                       0
Sci-Fi                                                        0
Thriller                                                      0
War                                                           0
Western                                                       0
Name: 0, dtype: object

In [72]:
movies.loc[1:3]

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,305,242,5,886307828,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0

If you want to return specific columns then you have to specify them as a separate argument of .loc

In [33]:
movies.loc[1:3 , 'movie_title']

1    Kolya (1996)
2    Kolya (1996)
3    Kolya (1996)
Name: movie_title, dtype: object

In [34]:
movies.loc[1:5 , ['movie_title','age','gender']]
# If more than one column is to be selected then you have to give the second argument of .loc as a list

    movie_title   age gender
1  Kolya (1996)  23.0      M
2  Kolya (1996)  42.0      M
3  Kolya (1996)  60.0      M
4  Kolya (1996)  31.0      M
5  Kolya (1996)  26.0      M

In [35]:
# movies.iloc[1:5 , ['movie_title','age','gender']]
# Gives error as iloc only uses integer values

In [36]:
movies.iloc[0]

user_id                                                     196
movie_id                                                    242
rating                                                        3
timestamp                                             881250949
age                                                          49
gender                                                        M
occupation                                               writer
zip_code                                                  55105
movie_title                                        Kolya (1996)
release_date                                1997-01-24 00:00:00
IMDb_URL        http://us.imdb.com/M/title-exact?Kolya%20(1996)
unknown                                                       0
Action                                                        0
Adventure                                                     0
Animation                                                     0
Childrens                                                     0
Comedy                                                        1
Crime                                                         0
Documentary                                                   0
Drama                                                         0
Fantasy                                                       0
Film-Noir                                                     0
Horror                                                        0
Musical                                                       0
Mystery                                                       0
Romance                                                       0
Sci-Fi                                                        0
Thriller                                                      0
War                                                           0
Western                                                       0
Name: 0, dtype: object

In [37]:
movies.iloc[1:5]

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,305,242,5,886307828,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# movies.select(lambda x: x%2==0).head() is the same as : 
movies.loc[movies.index.map(lambda x: x%2==0)].head()

# .select() has been deprecated for now and will be completely removed in future updates so use .loc

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
6,201,242,4,884110598,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
8,13,242,2,881515193,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0

## Working with Missing Data 
Pandas primarily uses the value np.nan to represent missing data (in table missed/empty value are marked by NaN). It is by default not included in computations. Missing data creates many issues at mathematical or computational tasks with DataFrames and Series and it’s important to know how fight with these values.

In [39]:
ages = movies['age']
sum(ages)

nan

This is because there are so many cases where Age isn't given and hence takes on the value of np.nan. 
We can use `fillna()`a very effecient pandas method for filling missing values

In [40]:
ages = movies['age'].fillna(0)
sum(ages)

3089983.0

This fills all the values with 0 and calculates the sum. 
To remain only rows with non-null values you can use method `dropna()`

In [41]:
ages = movies['age'].dropna()
sum(ages)

3089983.0

In [42]:
movies_nonnull = movies.dropna()
movies_nonnull.head(20)
#14th value was dropped because it had a missing value in a column

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
5,181,242,1,878961814,26.0,M,executive,21218,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
6,201,242,4,884110598,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
7,249,242,5,879571438,25.0,M,student,84103,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
8,13,242,2,881515193,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
9,279,242,3,877756647,33.0,M,programmer,85251,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
10,145,242,5,875269755,31.0,M,entertainment,V3N4P,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
11,90,242,4,891382267,60.0,M,educator,78155,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
12,271,242,4,885844495,51.0,M,engineer,22932,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
13,18,242,5,880129305,35.0,F,other,37212,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
15,207,242,4,890793823,39.0,M,marketing,92037,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
16,14,242,4,876964570,45.0,M,scientist,55106,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
17,113,242,2,875075887,47.0,M,executive,95032,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
19,296,242,4,884196057,43.0,F,administrator,16803,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
20,154,242,3,879138235,25.0,M,student,53703,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
21,270,242,5,876953744,18.0,F,student,63119,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0

In [43]:
movies_notnull = movies.dropna(how='all',subset=['age','occupation'])
#Drops all nan values from movies belonging to age and occupation 
movies_notnull.info()
#Notice how age and occupation now have nearly 6000 lesser values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99616 entries, 0 to 99999
Data columns (total 30 columns):
user_id         99616 non-null int64
movie_id        99616 non-null int64
rating          99616 non-null int64
timestamp       99616 non-null int64
age             93731 non-null float64
gender          99616 non-null object
occupation      93806 non-null object
zip_code        99616 non-null object
movie_title     99616 non-null object
release_date    99607 non-null datetime64[ns]
IMDb_URL        99603 non-null object
unknown         99616 non-null int64
Action          99616 non-null int64
Adventure       99616 non-null int64
Animation       99616 non-null int64
Childrens       99616 non-null int64
Comedy          99616 non-null int64
Crime           99616 non-null int64
Documentary     99616 non-null int64
Drama           99616 non-null int64
Fantasy         99616 non-null int64
Film-Noir       99616 non-null int64
Horror          99616 non-null int64
Musical         99616 non-null int64
Mystery         99616 non-null int64
Romance         99616 non-null int64
Sci-Fi          99616 non-null int64
Thriller        99616 non-null int64
War             99616 non-null int64
Western         99616 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(23), object(5)
memory usage: 23.6+ MB

Thus, if `how='all'`, we get DataFrame, where all values in both columns from subset are NaN.

If `how='any'`, we get DataFrame, where at least one contains NaN.

In [44]:
movies.describe()

,user_id,movie_id,rating,timestamp,age,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,100000.00000,100000.000000,100000.000000,1.000000e+05,93731.000000,100000.0000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.00000,100000.000000,100000.000000
mean,462.48475,425.530130,3.529860,8.835289e+08,32.966500,0.0001,0.255890,0.137530,0.036050,0.071820,...,0.013520,0.017330,0.053170,0.049540,0.052450,0.194610,0.12730,0.21872,0.093980,0.018540
std,266.61442,330.798356,1.125674,5.343856e+06,11.561809,0.0100,0.436362,0.344408,0.186416,0.258191,...,0.115487,0.130498,0.224373,0.216994,0.222934,0.395902,0.33331,0.41338,0.291802,0.134894
min,1.00000,1.000000,1.000000,8.747247e+08,7.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
25%,254.00000,175.000000,3.000000,8.794487e+08,24.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
50%,447.00000,322.000000,4.000000,8.828269e+08,30.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
75%,682.00000,631.000000,4.000000,8.882600e+08,40.000000,0.0000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
max,943.00000,1682.000000,5.000000,8.932866e+08,73.000000,1.0000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000

At first, let’s find all unique dates in `‘release_date’` column of `movies` and then select only dates in range lower than 1995.

In [45]:
movies['release_date'] = movies['release_date'].map(pd.to_datetime)
# We map it to_datetime as pandas has a set way to deal with dates and then we can effectively work with dates.
unique_dates = movies['release_date'].drop_duplicates().dropna() 
# Drops duplicates and nan values
unique_dates

0       1997-01-24
117     1993-01-01
309     1994-01-01
409     1997-07-11
455     1986-01-01
785     1997-01-01
881     1987-01-01
1137    1979-01-01
1253    1996-04-26
1525    1995-01-01
1557    1996-03-08
1850    1996-11-15
2331    1990-01-01
2851    1971-01-01
2972    1978-01-01
3432    1997-07-04
3735    1996-04-12
4269    1996-12-18
4347    1996-04-23
4583    1996-10-04
4745    1997-06-27
4751    1997-01-31
4798    1996-06-28
4961    1988-01-01
5208    1995-10-30
5392    1996-02-09
5863    1996-09-28
6861    1997-05-09
7058    1996-10-11
7186    1997-08-15
           ...
96679   1996-09-24
96855   1997-01-29
96948   1996-09-04
97195   1996-09-16
97434   1997-12-18
97639   1998-03-17
97816   1996-06-05
98068   1996-12-15
98546   1998-04-03
98574   1996-05-17
98590   1998-03-10
98739   1996-10-26
98748   1998-01-23
98786   1998-03-14
98856   1932-01-01
98969   1996-01-15
99205   1996-04-02
99280   1998-02-20
99321   1997-04-22
99598   1998-10-09
99650   1998-02-01
99702   1996-07-22
99737   1926-01-01
99813   1998-01-21
99885   1998-02-11
99938   1986-04-26
99940   1998-03-06
99958   1996-09-18
99967   1996-02-28
99977   1997-04-30
Name: release_date, Length: 240, dtype: datetime64[ns]

In [46]:
# find dates with year lower/equal than 1995
unique_dates_1 = filter(lambda x: x.year <= 1995, unique_dates)
# filter() takes two arguments. First one should return only boolean values and the second one is the variable over which ititerates over. 
# This basically takes unique_dates and uses the lambda function (here, it returns bool values) and filters True cases. 

unique_dates_1

Here we have used `drop_duplicates()` method to select only `unique` Series values. Then we can filter `movies` with respect to `release_date` condition. Each `datetime` Python object possesses with attributes `year`, `month`, `day`, etc. allowing to extract values of year, month, day, etc. from the date. We call the new DataFrame as `old_movies`.

In [47]:
old_movies = movies[movies['release_date'].isin(unique_dates_1)]
old_movies.head()

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
117,196,393,4,881251863,49.0,M,writer,55105,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
118,22,393,4,878886989,25.0,M,writer,40206,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
119,244,393,3,880607365,28.0,M,technician,80525,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
120,298,393,4,884183099,44.0,M,executive,01581,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
121,286,393,4,877534481,27.0,M,student,15217,Mrs. Doubtfire (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0

Now we may filter DataFrame `old_movies` by `age` and `rating`. Lets’ drop `timestamp`, `zip_code`

In [48]:
# get all users with age less than 25 that rated old movies higher than 3
old_movies_watch = old_movies[(old_movies['age']<25) & (old_movies['rating']>3)]
# Drop timestamp and zip_code
old_movies_watch = old_movies_watch.drop(['timestamp', 'zip_code'],axis=1)

old_movies_watch.head()

,user_id,movie_id,rating,age,gender,occupation,movie_title,release_date,IMDb_URL,unknown,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
124,303,393,4,19.0,M,student,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,0,...,0,0,0,0,0,0,0,0,0,0
135,276,393,4,21.0,M,student,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,0,...,0,0,0,0,0,0,0,0,0,0
153,128,393,4,24.0,F,marketing,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,0,...,0,0,0,0,0,0,0,0,0,0
162,130,393,5,20.0,M,none,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,0,...,0,0,0,0,0,0,0,0,0,0
183,314,393,4,20.0,F,student,Mrs. Doubtfire (1993),1993-01-01,http://us.imdb.com/M/title-exact?Mrs.%20Doubtf...,0,...,0,0,0,0,0,0,0,0,0,0

`Pandas` has support for accelerating certain types of binary numerical and boolean operations using the `numexpr `library (it uses smart chunking, caching, and multiple cores) and the `bottleneck` libraries (is a set of specialized cython routines that are especially fast when dealing with arrays that have NaNs). It allows one to increase pandas functionality a lot. This advantage is shown for some boolean and calculation operations. To count the time elapsed on operation performing we will use the decorator

In [49]:
# this function counts the time for a particular operation 
 
def timer(func):
    from datetime import datetime
    def wrapper(*args):
        start = datetime.now()
        func(*args)
        end = datetime.now()
        return 'elapsed time = {' + str(end - start)+'}'
    return wrapper

In [50]:
import random
n = 100
# generate rangon datasets
df_1 = pd.DataFrame({'col :'+str(i):[random.randint(-100,100) for j in range(n)]for i in range(n)})
# here we pass a dictionary to the DataFrame() constructor. 
# The key is "col : i" where i can take random values and the value for those keys is i.

df_2 = pd.DataFrame({'col :'+str(i):[random.randint(-100,100) for j in range(n)] for i in range(n)})

@timer
def direct_comparison(df_1, df_2):
    bool_df = pd.DataFrame({'col_{}'.format(i): [True for j in range(n)] for i in range(n)})
    for i in range(len(df_1.index)):
        for j in range(len(df_1.loc[i])):
            if df_1.loc[i, df_1.columns[j]] >= df_2.loc[i, df_2.columns[j]]: 
                bool_df.loc[i,bool_df.columns[j]] = False
    return bool_df

@timer
def pandas_comparison(df_1, df_2):
    return df_1 < df_2

print ('direct_comparison:', (direct_comparison(df_1, df_2)))
print ('pandas_comparison:', (pandas_comparison(df_1, df_2)))

direct_comparison: elapsed time = {0:00:03.362719}
pandas_comparison: elapsed time = {0:00:00.029600}

As you can see, the difference in speed is too noticeable. 

Besides, pandas possesses methods `eq` (equal), `ne` (not equal), `lt` (less then), `gt` (greater than), `le` (less or equal) and `ge` (greater or equal) for simplifying boolean comparison

## Matrix Addition

In [51]:
df = pd.DataFrame({'A':[1,2,3],'B':[-2,-3,-4],"C":[7,8,9]})
dfa = pd.DataFrame({'A':[1,2,3],'D':[6,7,8],"C":[12,12,12]})
dfc = df + dfa
dfc

   A   B   C   D
0  2 NaN  19 NaN
1  4 NaN  20 NaN
2  6 NaN  21 NaN

In [52]:
df.le(dfa)

      A      B     C      D
0  True  False  True  False
1  True  False  True  False
2  True  False  True  False

You can also apply the reductions: `empty`, `any()`, `all()`, and `bool()` to provide a way to summarize a boolean result:

In [53]:
(df<0).all()

A    False
B     True
C    False
dtype: bool

In [54]:
# here horyzontal direction for comparison is taking into account and we check all row’s items
(df < 0).all(axis=1)

0    False
1    False
2    False
dtype: bool

In [55]:
# here vertical direction for comparison is taking into 
# account and we check if just one column’s item satisfies the condition
(df < 0).any()

A    False
B     True
C    False
dtype: bool

In [56]:
# here we check if all DataFrame's items satisfy the condition
(df < 0).any().any()

True

In [57]:
# here we check if DataFrame no one element
df.empty

False

### Descriptive Statistics 


|Function|Description|
|--|-------------------------------|
|abs|absolute value|
|count|number of non-null observations|
|cumsum|cumulative sum (a sequence of partial sums of a given sequence)|
|sum|sum of values|
|mean|mean of values|
|mad|mean absolute deviation|
|median|arithmetic median of values|
|min|minimum value|
|max|maximum value|
|mode|mode|
|prod|product of values|
|std|unbiased standard deviation|
|var|unbiased variance|

In [59]:
print("Sum : ", movies['age'].sum())

Sum :  3089983.0

In [61]:
print(df)

   A  B  C
0  1 -2  7
1  2 -3  8
2  3 -4  9

In [70]:
print("Mean : ")
print(df.mean())

print("\nMean of all Mean Values: ")
print(df.mean().mean())

print("\nMedian: ")
print(df.median())

print("\nStandard Deviation: ")
print(df.std())

print("\nVariance: ")
print(df.var())

print("\nMax: ")
print(df.max())

Mean :
A    2.0
B   -3.0
C    8.0
dtype: float64

Mean of all Mean Values:
2.3333333333333335

Median:
A    2.0
B   -3.0
C    8.0
dtype: float64

Standard Deviation:
A    1.0
B    1.0
C    1.0
dtype: float64

Variance:
A    1.0
B    1.0
C    1.0
dtype: float64

Max:
A    3
B   -2
C    9
dtype: int64

## Function Applications
When you need to make some transformations with some column’s or row’s elements, then method `map` will be helpful (it works like pure Python function `map()` ). But there is also possibility to apply some function to each DataFrame element (not to a column or a row) – method `apply(map)` aids in this case.

In [86]:
movies.loc[:, (movies.dtypes == np.int64) | (movies.dtypes == np.float64)].apply(np.mean)
# This calculates the mean of all the columns present in movies

user_id        4.624848e+02
movie_id       4.255301e+02
rating         3.529860e+00
timestamp      8.835289e+08
age            3.296650e+01
unknown        1.000000e-04
Action         2.558900e-01
Adventure      1.375300e-01
Animation      3.605000e-02
Childrens      7.182000e-02
Comedy         2.983200e-01
Crime          8.055000e-02
Documentary    7.580000e-03
Drama          3.989500e-01
Fantasy        1.352000e-02
Film-Noir      1.733000e-02
Horror         5.317000e-02
Musical        4.954000e-02
Mystery        5.245000e-02
Romance        1.946100e-01
Sci-Fi         1.273000e-01
Thriller       2.187200e-01
War            9.398000e-02
Western        1.854000e-02
dtype: float64

In [89]:
# to print mean of all row values in movies : 
movies.loc[:,(movies.dtypes==np.int64) | (movies.dtypes==np.float64)].apply(np.mean, axis = 1)

0        3.671881e+07
1        3.692952e+07
2        3.680285e+07
3        3.712641e+07
4        3.648948e+07
5        3.662343e+07
6        3.683796e+07
7        3.664883e+07
8        3.672981e+07
9        3.657322e+07
10       3.646959e+07
11       3.714094e+07
12       3.691021e+07
13       3.667207e+07
14       3.868486e+07
15       3.711643e+07
16       3.654020e+07
17       3.646151e+07
18       3.825258e+07
19       3.684153e+07
20       3.663078e+07
21       3.653976e+07
22       3.690734e+07
23       3.700433e+07
24       3.804139e+07
25       3.704913e+07
26       3.715335e+07
27       3.680185e+07
28       3.682009e+07
29       3.682872e+07
             ...
99970    3.836551e+07
99971    3.702680e+07
99972    3.703066e+07
99973    3.705424e+07
99974    3.661341e+07
99975    3.714594e+07
99976    3.714594e+07
99977    3.714592e+07
99978    3.714594e+07
99979    3.714594e+07
99980    3.714592e+07
99981    3.648981e+07
99982    3.869825e+07
99983    3.720672e+07
99984    3.714594e+07
99985    3.714584e+07
99986    3.876098e+07
99987    3.704094e+07
99988    3.712668e+07
99989    3.696509e+07
99990    3.712652e+07
99991    3.713393e+07
99992    3.807540e+07
99993    3.684269e+07
99994    3.678404e+07
99995    3.705384e+07
99996    3.866487e+07
99997    3.705384e+07
99998    3.696514e+07
99999    3.670202e+07
Length: 100000, dtype: float64

### Remember 

The attribute axis define the horizontal `(axis=1)` or vertical direction for calculations `(axis=0)`

### Groupby with Dictionary

In [79]:
import numpy as np
import pandas as pd

In [78]:
d = {'id':[1,2,3],
     'Column 1.1':[14,15,16],
     'Column 1.2':[10,10,10],
     'Column 1.3':[1,4,5],
     'Column 2.1':[1,2,3],
     'Column 2.2':[10,10,10],
}
df = pd.DataFrame(d)
df

   id  Column 1.1  Column 1.2  Column 1.3  Column 2.1  Column 2.2
0   1          14          10           1           1          10
1   2          15          10           4           2          10
2   3          16          10           5           3          10

In [77]:
groupby_dict = {'Column 1.1':'Column 1','Column 1.2':'Column 1','Column 1.3':'Column 1','Column 2.1':'Column 2','Column 2.2':'Column 2'}
df = df.set_index('id')
df=df.groupby(groupby_dict,axis=1).min()
df

    Column 1  Column 2
id
1          1         1
2          4         2
3          5         3

In [1]:
import numpy as np 
import pandas as pd

In [21]:
dict = {
    "ID":[1,2,3],
    "Movies":["The Godfather","Fight Club","Casablanca"],
    "Week_1_Viewers":[30,30,40],
    "Week_2_Viewers":[60,40,80],
    "Week_3_Viewers":[40,20,20]
};
df = pd.DataFrame(dict);
df

   ID         Movies  Week_1_Viewers  Week_2_Viewers  Week_3_Viewers
0   1  The Godfather              30              60              40
1   2     Fight Club              30              40              20
2   3     Casablanca              40              80              20

In [23]:
mapping = {"Week_1_Viewers":"Total_Viewers",
           "Week_2_Viewers":"Total_Viewers",
           "Week_3_Viewers":"Total_Viewers",
           "Movies":"Movies"
          }
df = df.set_index('ID')
df=df.groupby(mapping,axis=1).sum()
df

           Movies  Total_Viewers
ID
1   The Godfather            130
2      Fight Club             90
3      Casablanca            140

### Breaking up a String into columns using regex

In [145]:
dict = {'movie_data':['The Godfather 1972 9.2',
                     'Bird Box 2018 6.8',
                     'Fight Club 1999 8.8']
        }
df = pd.DataFrame(dict)
df

               movie_data
0  The Godfather 1972 9.2
1       Bird Box 2018 6.8
2     Fight Club 1999 8.8

In [147]:
df['Name'] = df['movie_data'].str.extract('(\w*\s\w*)', expand=True)
df['Year'] = df['movie_data'].str.extract('(\d\d\d\d)', expand=True)
df['Rating'] = df['movie_data'].str.extract('(\d\.\d)', expand=True)
df

               movie_data           Name  Year Rating
0  The Godfather 1972 9.2  The Godfather  1972    9.2
1       Bird Box 2018 6.8       Bird Box  2018    6.8
2     Fight Club 1999 8.8     Fight Club  1999    8.8

In [141]:
import re

movie_data = ["Name:The Godfather Year: 1972 Rating: 9.2",
              "Name:Bird Box Year: 2018 Rating: 6.8",
              "Name:Fight Club Year: 1999 Rating: 8.8"]
movies={"Name":[],
       "Year":[],
       "Rating":[]}

In [142]:
for item in movie_data:
    name_field = re.search("Name:.*",item)
    if name_field is not None:
        name = re.search('\w*\s\w*',name_field.group())
    else:
        name = None
    movies["Name"].append(name.group())
    year_field = re.search("Year: .*",item)
    if year_field is not None:
        year = re.search('\s\d\d\d\d',year_field.group())
    else:
        year = None
    movies["Year"].append(year.group().strip())
    rating_field = re.search("Rating: .*",item)
    if rating_field is not None: 
        rating = re.search('\s\d.\d',rating_field.group())
    else: 
        rating - None
    movies["Rating"].append(rating.group().strip())
movies

{'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
 'Year': ['1972', '2018', '1999'],
 'Rating': ['9.2', '6.8', '8.8']}

In [143]:
df = pd.DataFrame(movies)
df

            Name  Year Rating
0  The Godfather  1972    9.2
1       Bird Box  2018    6.8
2     Fight Club  1999    8.8

### Ranking Rows in Pandas

In [1]:
import pandas as pd

In [35]:
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
         'Year': ['1972', '2018', '1999'],
         'Rating': ['9.2', '6.8', '8.8']}
df = pd.DataFrame(movies)
df

            Name  Year Rating
0  The Godfather  1972    9.2
1       Bird Box  2018    6.8
2     Fight Club  1999    8.8

In [36]:
df['Rating_Rank'] = df['Rating'].rank(ascending=1)
df

            Name  Year Rating  Rating_Rank
0  The Godfather  1972    9.2          3.0
1       Bird Box  2018    6.8          1.0
2     Fight Club  1999    8.8          2.0

In [37]:
df =df.set_index('Rating_Rank')
df

                      Name  Year Rating
Rating_Rank
3.0          The Godfather  1972    9.2
1.0               Bird Box  2018    6.8
2.0             Fight Club  1999    8.8

In [38]:
df.sort_index()

                      Name  Year Rating
Rating_Rank
1.0               Bird Box  2018    6.8
2.0             Fight Club  1999    8.8
3.0          The Godfather  1972    9.2

In [40]:
# Example 2 
import pandas as pd

In [65]:
student_details = {'Name':['Raj','Raj','Raj','Aravind','Aravind','Aravind','John','John','John','Arjun','Arjun','Arjun'],
                   'Subject':['Maths','Physics','Chemistry','Maths','Physics','Chemistry','Maths','Physics','Chemistry','Maths','Physics','Chemistry'],
                   'Marks':[80,90,75,60,40,60,80,55,100,90,75,70]
                
}

df = pd.DataFrame(student_details)
df

       Name    Subject  Marks
0       Raj      Maths     80
1       Raj    Physics     90
2       Raj  Chemistry     75
3   Aravind      Maths     60
4   Aravind    Physics     40
5   Aravind  Chemistry     60
6      John      Maths     80
7      John    Physics     55
8      John  Chemistry    100
9     Arjun      Maths     90
10    Arjun    Physics     75
11    Arjun  Chemistry     70

In [66]:
df['Mark_Rank'] = df['Marks'].rank(ascending=0)
df = df.set_index('Mark_Rank')
df

              Name    Subject  Marks
Mark_Rank
4.5            Raj      Maths     80
2.5            Raj    Physics     90
6.5            Raj  Chemistry     75
9.5        Aravind      Maths     60
12.0       Aravind    Physics     40
9.5        Aravind  Chemistry     60
4.5           John      Maths     80
11.0          John    Physics     55
1.0           John  Chemistry    100
2.5          Arjun      Maths     90
6.5          Arjun    Physics     75
8.0          Arjun  Chemistry     70

In [67]:
df = df.sort_index()
df

              Name    Subject  Marks
Mark_Rank
1.0           John  Chemistry    100
2.5            Raj    Physics     90
2.5          Arjun      Maths     90
4.5            Raj      Maths     80
4.5           John      Maths     80
6.5            Raj  Chemistry     75
6.5          Arjun    Physics     75
8.0          Arjun  Chemistry     70
9.5        Aravind      Maths     60
9.5        Aravind  Chemistry     60
11.0          John    Physics     55
12.0       Aravind    Physics     40

## Grouping

In [70]:
movies=pd.read_csv("data/movies.csv",encoding = "ISO-8859-1")

In [71]:
# get selected columns with row indexes within ranges
short_movies = movies[['user_id', 'movie_id', 'rating','timestamp', 'age', 'occupation','movie_title','release_date']] \
                     .loc[list(range(50)) + list(range(100,150)) + list(range(250,500))].reset_index(drop=True)
short_movies.head(10)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
0,196,242,3,881250949,49.0,writer,Kolya (1996),1997-01-24
1,305,242,5,886307828,23.0,programmer,Kolya (1996),1997-01-24
2,6,242,4,883268170,42.0,executive,Kolya (1996),1997-01-24
3,234,242,4,891033261,60.0,retired,Kolya (1996),1997-01-24
4,63,242,3,875747190,31.0,marketing,Kolya (1996),1997-01-24
5,181,242,1,878961814,26.0,executive,Kolya (1996),1997-01-24
6,201,242,4,884110598,27.0,writer,Kolya (1996),1997-01-24
7,249,242,5,879571438,25.0,student,Kolya (1996),1997-01-24
8,13,242,2,881515193,47.0,educator,Kolya (1996),1997-01-24
9,279,242,3,877756647,33.0,programmer,Kolya (1996),1997-01-24

pandas DataFrames can be split on any of their axes. Grouping denotes the providence of a mapping of labels to group names. Method `groupby()` is provided in pandas for grouping. The `groupby()` function returns a `GroupBy` object, but essentially describes how the rows of the original data set has been split.

In [75]:
movies_grouped = movies.groupby('movie_id')
list(movies_grouped)[:3]

[(1,        user_id  movie_id  rating  timestamp   age gender     occupation  \
  50260      244         1       4  880604405  28.0      M     technician
  50261      298         1       5  884126061   NaN      M      executive
  50262      253         1       5  891628467  26.0      F      librarian
  50263      305         1       5  886323153  23.0      M     programmer
  50264        6         1       4  883599478  42.0      M      executive
  50265       62         1       2  879372813  27.0      F  administrator
  50266      286         1       4  876521699  27.0      M        student
  50267      200         1       5  876042340  40.0      M     programmer
  50268      210         1       5  887731052  39.0      M       engineer
  50269      303         1       5  879466966  19.0      M        student
  50270      194         1       4  879539127  38.0      M  administrator
  50271      291         1       5  874834481   NaN      M        student
  50272      234         1       3  891227689  60.0      M        retired
  50273      299         1       3  877877535  29.0      M            NaN
  50274      308         1       4  887736532   NaN      M        retired
  50275       95         1       5  879197329  31.0      M  administrator
  50276       38         1       5  892430636  28.0      F          other
  50277      102         1       3  883748352  38.0      M     programmer
  50278       63         1       3  875747368  31.0      M      marketing
  50279      160         1       4  876768025  27.0      M     programmer
  50280      301         1       4  882074345  24.0      M        student
  50281      290         1       5  880474327  40.0      M       engineer
  50282       97         1       4  884238911  43.0      M         artist
  50283      157         1       5  874813703  57.0      M       engineer
  50284      181         1       3  878962392  26.0      M      executive
  50285      276         1       5  874786568  21.0      M        student
  50286       10         1       4  877888877  53.0      M         lawyer
  50287      201         1       3  884113635  27.0      M         writer
  50288      287         1       5  875334088   NaN      M       salesman
  50289      246         1       4  884920918  19.0      M        student
  ...        ...       ...     ...        ...   ...    ...            ...
  50682      887         1       5  881377972  14.0      F        student
  50683      894         1       4  880416286  47.0      M       educator
  50684      896         1       4  887158579  28.0      M         writer
  50685      897         1       5  879994113  30.0      M          other
  50686      901         1       5  877129870  38.0      M      executive
  50687      899         1       3  884120105  32.0      M          other
  50688      903         1       3  891031280  28.0      M       educator
  50689      907         1       5  880158712  25.0      F          other
  50690      902         1       5  879465583  45.0      F         artist
  50691      895         1       4  879437950  31.0      F      librarian
  50692      916         1       4  880843361  27.0      M       engineer
  50693      918         1       3  891987059  40.0      M      scientist
  50694      919         1       4  875289321  25.0      M          other
  50695      921         1       3  879379601  20.0      F        student
  50696      910         1       4  880822060  28.0      M     healthcare
  50697      913         1       2  880758579  27.0      M        student
  50698      922         1       5  891448551  29.0      F  administrator
  50699      923         1       3  880387306  21.0      M            NaN
  50700      927         1       5  879191524  23.0      M     programmer
  50701      924         1       5  884371535  29.0      M          other
  50702      929         1       3  878402162  44.0      M      scientist
  50703      917         1       3  882910888  22.0      F        student
  50704      932         1       4  891249932  58.0      M       educator
  50705      934         1       2  891225958  61.0      M       engineer
  50706      933         1       3  874854294  28.0      M        student
  50707      935         1       3  884472064  42.0      M         doctor
  50708      938         1       4  891356314  38.0      F     technician
  50709      936         1       4  886832453  24.0      M          other
  50710      930         1       3  879534525  28.0      F            NaN
  50711      941         1       5  875049144  20.0      M        student

        zip_code       movie_title release_date   ...    Fantasy  Film-Noir  \
  50260    80525  Toy Story (1995)   1995-01-01   ...          0          0
  50261    01581  Toy Story (1995)   1995-01-01   ...          0          0
  50262    22903  Toy Story (1995)   1995-01-01   ...          0          0
  50263    94086  Toy Story (1995)   1995-01-01   ...          0          0
  50264    98101  Toy Story (1995)   1995-01-01   ...          0          0
  50265    97214  Toy Story (1995)   1995-01-01   ...          0          0
  50266    15217  Toy Story (1995)   1995-01-01   ...          0          0
  50267    93402  Toy Story (1995)   1995-01-01   ...          0          0
  50268    03060  Toy Story (1995)   1995-01-01   ...          0          0
  50269    14853  Toy Story (1995)   1995-01-01   ...          0          0
  50270    02154  Toy Story (1995)   1995-01-01   ...          0          0
  50271    44106  Toy Story (1995)   1995-01-01   ...          0          0
  50272    94702  Toy Story (1995)   1995-01-01   ...          0          0
  50273    63108  Toy Story (1995)   1995-01-01   ...          0          0
  50274    95076  Toy Story (1995)   1995-01-01   ...          0          0
  50275    10707  Toy Story (1995)   1995-01-01   ...          0          0
  50276    54467  Toy Story (1995)   1995-01-01   ...          0          0
  50277    30220  Toy Story (1995)   1995-01-01   ...          0          0
  50278    75240  Toy Story (1995)   1995-01-01   ...          0          0
  50279    66215  Toy Story (1995)   1995-01-01   ...          0          0
  50280    55439  Toy Story (1995)   1995-01-01   ...          0          0
  50281    93550  Toy Story (1995)   1995-01-01   ...          0          0
  50282    98006  Toy Story (1995)   1995-01-01   ...          0          0
  50283    70808  Toy Story (1995)   1995-01-01   ...          0          0
  50284    21218  Toy Story (1995)   1995-01-01   ...          0          0
  50285    95064  Toy Story (1995)   1995-01-01   ...          0          0
  50286    90703  Toy Story (1995)   1995-01-01   ...          0          0
  50287    E2A4H  Toy Story (1995)   1995-01-01   ...          0          0
  50288    31211  Toy Story (1995)   1995-01-01   ...          0          0
  50289    28734  Toy Story (1995)   1995-01-01   ...          0          0
  ...        ...               ...          ...   ...        ...        ...
  50682    27249  Toy Story (1995)   1995-01-01   ...          0          0
  50683    74075  Toy Story (1995)   1995-01-01   ...          0          0
  50684    91505  Toy Story (1995)   1995-01-01   ...          0          0
  50685    33484  Toy Story (1995)   1995-01-01   ...          0          0
  50686    L1V3W  Toy Story (1995)   1995-01-01   ...          0          0
  50687    55116  Toy Story (1995)   1995-01-01   ...          0          0
  50688    20850  Toy Story (1995)   1995-01-01   ...          0          0
  50689    80526  Toy Story (1995)   1995-01-01   ...          0          0
  50690    97203  Toy Story (1995)   1995-01-01   ...          0          0
  50691    32301  Toy Story (1995)   1995-01-01   ...          0          0
  50692    N2L5N  Toy Story (1995)   1995-01-01   ...          0          0
  50693    70116  Toy Story (1995)   1995-01-01   ...          0          0
  50694    14216  Toy Story (1995)   1995-01-01   ...          0          0
  50695    98801  Toy Story (1995)   1995-01-01   ...          0          0
  50696    29301  Toy Story (1995)   1995-01-01   ...          0          0
  50697    76201  Toy Story (1995)   1995-01-01   ...          0          0
  50698    21114  Toy Story (1995)   1995-01-01   ...          0          0
  50699    E2E3R  Toy Story (1995)   1995-01-01   ...          0          0
  50700    55428  Toy Story (1995)   1995-01-01   ...          0          0
  50701    11753  Toy Story (1995)   1995-01-01   ...          0          0
  50702    53711  Toy Story (1995)   1995-01-01   ...          0          0
  50703    20006  Toy Story (1995)   1995-01-01   ...          0          0
  50704    06437  Toy Story (1995)   1995-01-01   ...          0          0
  50705    22902  Toy Story (1995)   1995-01-01   ...          0          0
  50706    48105  Toy Story (1995)   1995-01-01   ...          0          0
  50707    66221  Toy Story (1995)   1995-01-01   ...          0          0
  50708    55038  Toy Story (1995)   1995-01-01   ...          0          0
  50709    32789  Toy Story (1995)   1995-01-01   ...          0          0
  50710    07310  Toy Story (1995)   1995-01-01   ...          0          0
  50711    97229  Toy Story (1995)   1995-01-01   ...          0          0

         Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
  50260       0        0        0        0       0         0    0        0
  50261       0        0        0        0       0         0    0        0
  50262       0        0        0        0       0         0    0        0
  50263       0        0        0        0       0         0    0        0
  50264       0        0        0        0       0         0    0        0
  50265       0        0        0        0       0         0    0        0
  50266       0        0        0        0       0         0    0        0
  50267       0        0        0        0       0         0    0        0
  50268       0        0        0        0       0         0    0        0
  50269       0        0        0        0       0         0    0        0
  50270       0        0        0        0       0         0    0        0
  50271       0        0        0        0       0         0    0        0
  50272       0        0        0        0       0         0    0        0
  50273       0        0        0        0       0         0    0        0
  50274       0        0        0        0       0         0    0        0
  50275       0        0        0        0       0         0    0        0
  50276       0        0        0        0       0         0    0        0
  50277       0        0        0        0       0         0    0        0
  50278       0        0        0        0       0         0    0        0
  50279       0        0        0        0       0         0    0        0
  50280       0        0        0        0       0         0    0        0
  50281       0        0        0        0       0         0    0        0
  50282       0        0        0        0       0         0    0        0
  50283       0        0        0        0       0         0    0        0
  50284       0        0        0        0       0         0    0        0
  50285       0        0        0        0       0         0    0        0
  50286       0        0        0        0       0         0    0        0
  50287       0        0        0        0       0         0    0        0
  50288       0        0        0        0       0         0    0        0
  50289       0        0        0        0       0         0    0        0
  ...       ...      ...      ...      ...     ...       ...  ...      ...
  50682       0        0        0        0       0         0    0        0
  50683       0        0        0        0       0         0    0        0
  50684       0        0        0        0       0         0    0        0
  50685       0        0        0        0       0         0    0        0
  50686       0        0        0        0       0         0    0        0
  50687       0        0        0        0       0         0    0        0
  50688       0        0        0        0       0         0    0        0
  50689       0        0        0        0       0         0    0        0
  50690       0        0        0        0       0         0    0        0
  50691       0        0        0        0       0         0    0        0
  50692       0        0        0        0       0         0    0        0
  50693       0        0        0        0       0         0    0        0
  50694       0        0        0        0       0         0    0        0
  50695       0        0        0        0       0         0    0        0
  50696       0        0        0        0       0         0    0        0
  50697       0        0        0        0       0         0    0        0
  50698       0        0        0        0       0         0    0        0
  50699       0        0        0        0       0         0    0        0
  50700       0        0        0        0       0         0    0        0
  50701       0        0        0        0       0         0    0        0
  50702       0        0        0        0       0         0    0        0
  50703       0        0        0        0       0         0    0        0
  50704       0        0        0        0       0         0    0        0
  50705       0        0        0        0       0         0    0        0
  50706       0        0        0        0       0         0    0        0
  50707       0        0        0        0       0         0    0        0
  50708       0        0        0        0       0         0    0        0
  50709       0        0        0        0       0         0    0        0
  50710       0        0        0        0       0         0    0        0
  50711       0        0        0        0       0         0    0        0

  [452 rows x 30 columns]),
 (2,        user_id  movie_id  rating  timestamp   age gender     occupation  \
  30722       22         2       2  878887925  25.0      M         writer
  30723      305         2       2  886324580  23.0      M     programmer
  30724      200         2       4  884130046  40.0      M     programmer
  30725      303         2       3  879467191  19.0      M        student
  30726      234         2       2  892335142  60.0      M        retired
  30727       95         2       2  888955909  31.0      M  administrator
  30728      102         2       2  888801522  38.0      M     programmer
  30729      301         2       2  882076587   NaN      M            NaN
  30730      276         2       4  874792436  21.0      M        student
  30731      201         2       2  884112487  27.0      M         writer
  30732      249         2       3  879641284  25.0      M        student
  30733      178         2       4  882827375  26.0      M          other
  30734       72         2       3  880037376  48.0      F  administrator
  30735       87         2       4  879876074  47.0      M  administrator
  30736       42         2       5  881109271  30.0      M  administrator
  30737      292         2       4  881105778  35.0      F     programmer
  30738       13         2       3  882397650  47.0      M       educator
  30739       92         2       3  875653699  32.0      M  entertainment
  30740      293         2       3  888907101  24.0      M         writer
  30741      222         2       3  878183837   NaN      M     programmer
  30742      267         2       3  878972463  23.0      M       engineer
  30743      279         2       4  875313311  33.0      M     programmer
  30744      250         2       4  878090414  29.0      M      executive
  30745      271         2       1  885849386  51.0      M       engineer
  30746      110         2       3  886988536  19.0      M        student
  30747      213         2       4  878955914  33.0      M      executive
  30748       49         2       1  888069606  23.0      F            NaN
  30749      268         2       2  875744173  24.0      M       engineer
  30750        5         2       3  875636053  33.0      F          other
  30751      130         2       4  876252327  20.0      M           none
  ...        ...       ...     ...        ...   ...    ...            ...
  30823      751         2       4  889298116  24.0      F          other
  30824      757         2       3  888466490  26.0      M        student
  30825      764         2       3  876244856  27.0      F       educator
  30826      773         2       3  888540146   NaN      M        student
  30827      774         2       1  888557383  30.0      M        student
  30828      790         2       3  885156988  27.0      M     technician
  30829      796         2       5  893048377  32.0      F         writer
  30830      795         2       3  883252599  30.0      M     programmer
  30831      798         2       4  875743787  40.0      F         writer
  30832      804         2       4  879445493  39.0      M       educator
  30833      806         2       3  882389862  27.0      M      marketing
  30834      807         2       4  892978338  41.0      F     healthcare
  30835      815         2       3  878696355  32.0      M          other
  30836      830         2       3  891561806   NaN      M     programmer
  30837      826         2       3  885690713  28.0      M         artist
  30838      844         2       4  877387933  22.0      M       engineer
  30839      846         2       5  883948949  27.0      M         lawyer
  30840      864         2       4  888889657  27.0      M     programmer
  30841      868         2       2  877112290   NaN      M     programmer
  30842      870         2       2  879714351  22.0      M        student
  30843      880         2       3  880167732  13.0      M        student
  30844      886         2       4  876033368  20.0      M        student
  30845      889         2       3  880182460  24.0      M     technician
  30846      892         2       4  886609006  36.0      M          other
  30847      896         2       3  887160000  28.0      M         writer
  30848      899         2       3  884122563  32.0      M          other
  30849      916         2       3  880845391  27.0      M       engineer
  30850      924         2       3  886759997  29.0      M          other
  30851      934         2       4  891192087   NaN      M       engineer
  30852      943         2       5  888639953  22.0      M        student

        zip_code       movie_title release_date   ...    Fantasy  Film-Noir  \
  30722    40206  GoldenEye (1995)   1995-01-01   ...          0          0
  30723    94086  GoldenEye (1995)   1995-01-01   ...          0          0
  30724    93402  GoldenEye (1995)   1995-01-01   ...          0          0
  30725    14853  GoldenEye (1995)   1995-01-01   ...          0          0
  30726    94702  GoldenEye (1995)   1995-01-01   ...          0          0
  30727    10707  GoldenEye (1995)   1995-01-01   ...          0          0
  30728    30220  GoldenEye (1995)   1995-01-01   ...          0          0
  30729    55439  GoldenEye (1995)   1995-01-01   ...          0          0
  30730    95064  GoldenEye (1995)   1995-01-01   ...          0          0
  30731    E2A4H  GoldenEye (1995)   1995-01-01   ...          0          0
  30732    84103  GoldenEye (1995)   1995-01-01   ...          0          0
  30733    49512  GoldenEye (1995)   1995-01-01   ...          0          0
  30734    73034  GoldenEye (1995)   1995-01-01   ...          0          0
  30735    89503  GoldenEye (1995)   1995-01-01   ...          0          0
  30736    17870  GoldenEye (1995)   1995-01-01   ...          0          0
  30737    94703  GoldenEye (1995)   1995-01-01   ...          0          0
  30738    29206  GoldenEye (1995)   1995-01-01   ...          0          0

As it can be easily seen, the `GroupBy` object is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.

In [79]:
for key, value in list(movies_grouped)[:1]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in short_grouped:
    print(str(key) + ":" + str(value))

1:       user_id  movie_id  rating  timestamp   age gender     occupation  \
50260      244         1       4  880604405  28.0      M     technician
50261      298         1       5  884126061   NaN      M      executive
50262      253         1       5  891628467  26.0      F      librarian
50263      305         1       5  886323153  23.0      M     programmer
50264        6         1       4  883599478  42.0      M      executive
50265       62         1       2  879372813  27.0      F  administrator
50266      286         1       4  876521699  27.0      M        student
50267      200         1       5  876042340  40.0      M     programmer
50268      210         1       5  887731052  39.0      M       engineer
50269      303         1       5  879466966  19.0      M        student
50270      194         1       4  879539127  38.0      M  administrator
50271      291         1       5  874834481   NaN      M        student
50272      234         1       3  891227689  60.0      M        retired
50273      299         1       3  877877535  29.0      M            NaN
50274      308         1       4  887736532   NaN      M        retired
50275       95         1       5  879197329  31.0      M  administrator
50276       38         1       5  892430636  28.0      F          other
50277      102         1       3  883748352  38.0      M     programmer
50278       63         1       3  875747368  31.0      M      marketing
50279      160         1       4  876768025  27.0      M     programmer
50280      301         1       4  882074345  24.0      M        student
50281      290         1       5  880474327  40.0      M       engineer
50282       97         1       4  884238911  43.0      M         artist
50283      157         1       5  874813703  57.0      M       engineer
50284      181         1       3  878962392  26.0      M      executive
50285      276         1       5  874786568  21.0      M        student
50286       10         1       4  877888877  53.0      M         lawyer
50287      201         1       3  884113635  27.0      M         writer
50288      287         1       5  875334088   NaN      M       salesman
50289      246         1       4  884920918  19.0      M        student
...        ...       ...     ...        ...   ...    ...            ...
50682      887         1       5  881377972  14.0      F        student
50683      894         1       4  880416286  47.0      M       educator
50684      896         1       4  887158579  28.0      M         writer
50685      897         1       5  879994113  30.0      M          other
50686      901         1       5  877129870  38.0      M      executive
50687      899         1       3  884120105  32.0      M          other
50688      903         1       3  891031280  28.0      M       educator
50689      907         1       5  880158712  25.0      F          other
50690      902         1       5  879465583  45.0      F         artist
50691      895         1       4  879437950  31.0      F      librarian
50692      916         1       4  880843361  27.0      M       engineer
50693      918         1       3  891987059  40.0      M      scientist
50694      919         1       4  875289321  25.0      M          other
50695      921         1       3  879379601  20.0      F        student
50696      910         1       4  880822060  28.0      M     healthcare
50697      913         1       2  880758579  27.0      M        student
50698      922         1       5  891448551  29.0      F  administrator
50699      923         1       3  880387306  21.0      M            NaN
50700      927         1       5  879191524  23.0      M     programmer
50701      924         1       5  884371535  29.0      M          other
50702      929         1       3  878402162  44.0      M      scientist
50703      917         1       3  882910888  22.0      F        student
50704      932         1       4  891249932  58.0      M       educator
50705      934         1       2  891225958  61.0      M       engineer
50706      933         1       3  874854294  28.0      M        student
50707      935         1       3  884472064  42.0      M         doctor
50708      938         1       4  891356314  38.0      F     technician
50709      936         1       4  886832453  24.0      M          other
50710      930         1       3  879534525  28.0      F            NaN
50711      941         1       5  875049144  20.0      M        student

      zip_code       movie_title release_date   ...    Fantasy  Film-Noir  \
50260    80525  Toy Story (1995)   1995-01-01   ...          0          0
50261    01581  Toy Story (1995)   1995-01-01   ...          0          0
50262    22903  Toy Story (1995)   1995-01-01   ...          0          0
50263    94086  Toy Story (1995)   1995-01-01   ...          0          0
50264    98101  Toy Story (1995)   1995-01-01   ...          0          0
50265    97214  Toy Story (1995)   1995-01-01   ...          0          0
50266    15217  Toy Story (1995)   1995-01-01   ...          0          0
50267    93402  Toy Story (1995)   1995-01-01   ...          0          0
50268    03060  Toy Story (1995)   1995-01-01   ...          0          0
50269    14853  Toy Story (1995)   1995-01-01   ...          0          0
50270    02154  Toy Story (1995)   1995-01-01   ...          0          0
50271    44106  Toy Story (1995)   1995-01-01   ...          0          0
50272    94702  Toy Story (1995)   1995-01-01   ...          0          0
50273    63108  Toy Story (1995)   1995-01-01   ...          0          0
50274    95076  Toy Story (1995)   1995-01-01   ...          0          0
50275    10707  Toy Story (1995)   1995-01-01   ...          0          0
50276    54467  Toy Story (1995)   1995-01-01   ...          0          0
50277    30220  Toy Story (1995)   1995-01-01   ...          0          0
50278    75240  Toy Story (1995)   1995-01-01   ...          0          0
50279    66215  Toy Story (1995)   1995-01-01   ...          0          0
50280    55439  Toy Story (1995)   1995-01-01   ...          0          0
50281    93550  Toy Story (1995)   1995-01-01   ...          0          0
50282    98006  Toy Story (1995)   1995-01-01   ...          0          0
50283    70808  Toy Story (1995)   1995-01-01   ...          0          0
50284    21218  Toy Story (1995)   1995-01-01   ...          0          0
50285    95064  Toy Story (1995)   1995-01-01   ...          0          0
50286    90703  Toy Story (1995)   1995-01-01   ...          0          0
50287    E2A4H  Toy Story (1995)   1995-01-01   ...          0          0
50288    31211  Toy Story (1995)   1995-01-01   ...          0          0
50289    28734  Toy Story (1995)   1995-01-01   ...          0          0
...        ...               ...          ...   ...        ...        ...
50682    27249  Toy Story (1995)   1995-01-01   ...          0          0
50683    74075  Toy Story (1995)   1995-01-01   ...          0          0
50684    91505  Toy Story (1995)   1995-01-01   ...          0          0
50685    33484  Toy Story (1995)   1995-01-01   ...          0          0
50686    L1V3W  Toy Story (1995)   1995-01-01   ...          0          0
50687    55116  Toy Story (1995)   1995-01-01   ...          0          0
50688    20850  Toy Story (1995)   1995-01-01   ...          0          0
50689    80526  Toy Story (1995)   1995-01-01   ...          0          0
50690    97203  Toy Story (1995)   1995-01-01   ...          0          0
50691    32301  Toy Story (1995)   1995-01-01   ...          0          0
50692    N2L5N  Toy Story (1995)   1995-01-01   ...          0          0
50693    70116  Toy Story (1995)   1995-01-01   ...          0          0
50694    14216  Toy Story (1995)   1995-01-01   ...          0          0
50695    98801  Toy Story (1995)   1995-01-01   ...          0          0
50696    29301  Toy Story (1995)   1995-01-01   ...          0          0
50697    76201  Toy Story (1995)   1995-01-01   ...          0          0
50698    21114  Toy Story (1995)   1995-01-01   ...          0          0
50699    E2E3R  Toy Story (1995)   1995-01-01   ...          0          0
50700    55428  Toy Story (1995)   1995-01-01   ...          0          0
50701    11753  Toy Story (1995)   1995-01-01   ...          0          0
50702    53711  Toy Story (1995)   1995-01-01   ...          0          0
50703    20006  Toy Story (1995)   1995-01-01   ...          0          0
50704    06437  Toy Story (1995)   1995-01-01   ...          0          0
50705    22902  Toy Story (1995)   1995-01-01   ...          0          0
50706    48105  Toy Story (1995)   1995-01-01   ...          0          0
50707    66221  Toy Story (1995)   1995-01-01   ...          0          0
50708    55038  Toy Story (1995)   1995-01-01   ...          0          0
50709    32789  Toy Story (1995)   1995-01-01   ...          0          0
50710    07310  Toy Story (1995)   1995-01-01   ...          0          0
50711    97229  Toy Story (1995)   1995-01-01   ...          0          0

       Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
50260       0        0        0        0       0         0    0        0
50261       0        0        0        0       0         0    0        0
50262       0        0        0        0       0         0    0        0
50263       0        0        0        0       0         0    0        0
50264       0        0        0        0       0         0    0        0
50265       0        0        0        0       0         0    0        0
50266       0        0        0        0       0         0    0        0
50267       0        0        0        0       0         0    0        0
50268       0        0        0        0       0         0    0        0
50269       0        0        0        0       0         0    0        0
50270       0        0        0        0       0         0    0        0
50271       0        0        0        0       0         0    0        0
50272       0        0        0        0       0         0    0        0
50273       0        0        0        0       0         0    0        0
50274       0        0        0        0       0         0    0        0
50275       0        0        0        0       0         0    0        0
50276       0        0        0        0       0         0    0        0
50277       0        0        0        0       0         0    0        0
50278       0        0        0        0       0         0    0        0
50279       0        0        0        0       0         0    0        0
50280       0        0        0        0       0         0    0        0
50281       0        0        0        0       0         0    0        0
50282       0        0        0        0       0         0    0        0
50283       0        0        0        0       0         0    0        0
50284       0        0        0        0       0         0    0        0
50285       0        0        0        0       0         0    0        0
50286       0        0        0        0       0         0    0        0
50287       0        0        0        0       0         0    0        0
50288       0        0        0        0       0         0    0        0
50289       0        0        0        0       0         0    0        0
...       ...      ...      ...      ...     ...       ...  ...      ...
50682       0        0        0        0       0         0    0        0
50683       0        0        0        0       0         0    0        0
50684       0        0        0        0       0         0    0        0
50685       0        0        0        0       0         0    0        0
50686       0        0        0        0       0         0    0        0
50687       0        0        0        0       0         0    0        0
50688       0        0        0        0       0         0    0        0
50689       0        0        0        0       0         0    0        0
50690       0        0        0        0       0         0    0        0
50691       0        0        0        0       0         0    0        0
50692       0        0        0        0       0         0    0        0
50693       0        0        0        0       0         0    0        0
50694       0        0        0        0       0         0    0        0
50695       0        0        0        0       0         0    0        0
50696       0        0        0        0       0         0    0        0
50697       0        0        0        0       0         0    0        0
50698       0        0        0        0       0         0    0        0
50699       0        0        0        0       0         0    0        0
50700       0        0        0        0       0         0    0        0
50701       0        0        0        0       0         0    0        0
50702       0        0        0        0       0         0    0        0
50703       0        0        0        0       0         0    0        0
50704       0        0        0        0       0         0    0        0
50705       0        0        0        0       0         0    0        0
50706       0        0        0        0       0         0    0        0
50707       0        0        0        0       0         0    0        0
50708       0        0        0        0       0         0    0        0
50709       0        0        0        0       0         0    0        0
50710       0        0        0        0       0         0    0        0
50711       0        0        0        0       0         0    0        0

[452 rows x 30 columns]

### Selection and filtering


Functions of descriptive statistic like `sum()`, `count()`, `max()`, `min()`, `mean()` can be quickly applied to the `GroupBy` object to obtain summary statistics for each group – an immensely useful function. The same statement is valid also for functions like `describe()` which return general information about an object.

In [80]:
movies_grouped.count().head(10)

,user_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,IMDb_URL,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,452,452,452,417,452,427,452,452,452,452,...,452,452,452,452,452,452,452,452,452,452
2,131,131,131,120,131,127,131,131,131,131,...,131,131,131,131,131,131,131,131,131,131
3,90,90,90,82,90,87,90,90,90,90,...,90,90,90,90,90,90,90,90,90,90
4,209,209,209,201,209,201,209,209,209,209,...,209,209,209,209,209,209,209,209,209,209
5,86,86,86,82,86,81,86,86,86,86,...,86,86,86,86,86,86,86,86,86,86
6,26,26,26,25,26,25,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
7,392,392,392,365,392,379,392,392,392,392,...,392,392,392,392,392,392,392,392,392,392
8,219,219,219,208,219,198,219,219,219,219,...,219,219,219,219,219,219,219,219,219,219
9,299,299,299,279,299,284,299,299,299,299,...,299,299,299,299,299,299,299,299,299,299
10,89,89,89,82,89,86,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89

In [82]:
movies.groupby(['movie_id'])['rating'].sum()
# calculate sum for a single column
# it works more quickly then movies.groupby(['movie_id']).sum()['rating']

movie_id
1       1753
2        420
3        273
4        742
5        284
6         93
7       1489
8        875
9       1165
10       341
11       908
12      1171
13       629
14       726
15      1107
16       125
17       287
18        28
19       273
20       246
21       232
22      1233
23       750
24       600
25      1009
26       252
27       177
28      1085
29       304
30       146
        ...
1653       5
1654       1
1655       2
1656       7
1657       3
1658       9
1659       1
1660       2
1661       1
1662       5
1663       2
1664      13
1665       2
1666       2
1667       3
1668       3
1669       2
1670       3
1671       1
1672       4
1673       3
1674       4
1675       3
1676       2
1677       3
1678       1
1679       3
1680       2
1681       3
1682       3
Name: rating, Length: 1682, dtype: int64

In [83]:
movies.groupby(['movie_id', 'user_id']).sum()
# it is possible to group by many columns

                  rating  timestamp   age  unknown  Action  Adventure  \
movie_id user_id
1        1             5  874965758  24.0        0       0          0
         2             4  888550871  53.0        0       0          0
         5             4  875635748  33.0        0       0          0
         6             4  883599478  42.0        0       0          0
         10            4  877888877  53.0        0       0          0
         13            3  882140487  47.0        0       0          0
         15            1  879455635  49.0        0       0          0
         16            5  877717833  21.0        0       0          0
         17            4  885272579  30.0        0       0          0
         18            5  880130802  35.0        0       0          0
         20            3  879667963  42.0        0       0          0
         21            5  874951244  26.0        0       0          0
         23            5  874784615  30.0        0       0          0
         25            5  885853415  39.0        0       0          0
         26            3  891350625  49.0        0       0          0
         38            5  892430636  28.0        0       0          0
         41            4  890692860  33.0        0       0          0
         42            5  881105633  30.0        0       0          0
         43            5  875975579  29.0        0       0          0
         44            4  878341315   0.0        0       0          0
         45            5  881013176  29.0        0       0          0
         49            2  888068651  23.0        0       0          0
         54            4  880931595  22.0        0       0          0
         56            4  892683248  25.0        0       0          0
         57            5  883698581  16.0        0       0          0
         58            5  884304483  27.0        0       0          0
         59            2  888203053  49.0        0       0          0
         62            2  879372813  27.0        0       0          0
         63            3  875747368  31.0        0       0          0
         64            4  879366214  32.0        0       0          0
...                  ...        ...   ...      ...     ...        ...
1658     894           4  882404137   0.0        0       0          0
1659     747           1  888733313  19.0        0       0          0
1660     747           2  888640731  19.0        0       0          0
1661     751           1  889299429  24.0        0       0          0
1662     762           1  878719324  32.0        0       0          0
         782           4  891500110  21.0        0       0          0
1663     782           2  891499700  21.0        0       0          0
1664     782           4  891499699  21.0        0       0          0
         839           1  875752902  38.0        0       0          0
         870           4  890057322   0.0        0       0          0
         880           4  892958799  13.0        0       0          0
1665     782           2  891500194  21.0        0       0          0
1666     782           2  891500194  21.0        0       0          0
1667     782           3  891500110   0.0        0       0          0
1668     782           3  891500067  21.0        0       0          0
1669     782           2  891500150  21.0        0       0          0
1670     782           3  891497793  21.0        0       0          0
1671     787           1  888980193  18.0        0       0          0
1672     828           2  891037722  28.0        0       0          0
         896           2  887159554  28.0        0       0          0
1673     835           3  891034023  44.0        0       1          0
1674     840           4  891211682  39.0        0       0          0
1675     851           3  884222085  18.0        0       0          0
1676     851           2  875731674   0.0        0       0          0
1677     854           3  882814368  29.0        0       0          0
1678     863           1  889289570   0.0        0       0          0
1679     863           3  889289491  17.0        0       0          0
1680     863           2  889289570  17.0        0       0          0
1681     896           3  887160722  28.0        0       0          0
1682     916           3  880845755  27.0        0       0          0

                  Animation  Childrens  Comedy  Crime   ...     Fantasy  \
movie_id user_id                                        ...
1        1                1          1       1      0   ...           0
         2                1          1       1      0   ...           0
         5                1          1       1      0   ...           0
         6                1          1       1      0   ...           0
         10               1          1       1      0   ...           0
         13               1          1       1      0   ...           0
         15               1          1       1      0   ...           0
         16               1          1       1      0   ...           0
         17               1          1       1      0   ...           0
         18               1          1       1      0   ...           0
         20               1          1       1      0   ...           0
         21               1          1       1      0   ...           0
         23               1          1       1      0   ...           0
         25               1          1       1      0   ...           0
         26               1          1       1      0   ...           0
         38               1          1       1      0   ...           0
         41               1          1       1      0   ...           0
         42               1          1       1      0   ...           0
         43               1          1       1      0   ...           0
         44               1          1       1      0   ...           0
         45               1          1       1      0   ...           0
         49               1          1       1      0   ...           0
         54               1          1       1      0   ...           0
         56               1          1       1      0   ...           0
         57               1          1       1      0   ...           0
         58               1          1       1      0   ...           0
         59               1          1       1      0   ...           0
         62               1          1       1      0   ...           0
         63               1          1       1      0   ...           0
         64               1          1       1      0   ...           0
...                     ...        ...     ...    ...   ...         ...
1658     894              0          0       0      0   ...           0
1659     747              0          0       1      0   ...           0
1660     747              0          0       0      0   ...           0
1661     751              0          0       0      0   ...           0
1662     762              0          0       0      0   ...           0
         782              0          0       0      0   ...           0
1663     782              0          0       0      0   ...           0
1664     782              0          0       1      0   ...           0
         839              0          0       1      0   ...           0
         870              0          0       1      0   ...           0
         880              0          0       1      0   ...           0
1665     782              0          0       0      0   ...           0
1666     782              0          0       0      0   ...           0
1667     782              0          0       0      0   ...           0
1668     782              0          0       1      0   ...           0
1669     782              0          0       0      1   ...           0
1670     782              0          0       1      0   ...           0
1671     787              0          0       0      0   ...           0
1672     828              0          0       0      0   ...           0
         896              0          0       0      0   ...           0
1673     835              0          0       0      0   ...           0
1674     840              0          0       0      0   ...           0
1675     851              0          0       0      0   ...           0
1676     851              0          0       0      0   ...           0
1677     854              0          0       0      0   ...           0
1678     863              0          0       0      0   ...           0
1679     863              0          0       0      0   ...           0
1680     863              0          0       0      0   ...           0
1681     896              0          0       1      0   ...           0
1682     916              0          0       0      0   ...           0

                  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  \
movie_id user_id
1        1                0       0        0        0        0       0
         2                0       0        0        0        0       0
         5                0       0        0        0        0       0
         6                0       0        0        0        0       0
         10               0       0        0        0        0       0
         13               0       0        0        0        0       0
         15               0       0        0        0        0       0
         16               0       0        0        0        0       0
         17               0       0        0        0        0       0
         18               0       0        0        0        0       0
         20               0       0        0        0        0       0
         21               0       0        0        0        0       0
         23               0       0        0        0        0       0
         25               0       0        0        0        0       0
         26               0       0        0        0        0       0
         38               0       0        0        0        0       0
         41               0       0        0        0        0       0
         42               0       0        0        0        0       0
         43               0       0        0        0        0       0
         44               0       0        0        0        0       0
         45               0       0        0        0        0       0
         49               0       0        0        0        0       0
         54               0       0        0        0        0       0
         56               0       0        0        0        0       0
         57               0       0        0        0        0       0
         58               0       0        0        0        0       0
         59               0       0        0        0        0       0
         62               0       0        0        0        0       0
         63               0       0        0        0        0       0
         64               0       0        0        0        0       0
...                     ...     ...      ...      ...      ...     ...
1658     894              0       0        0        0        0       0
1659     747              0       0        0        0        0       0
1660     747              0       0        0        0        0       0
1661     751              0       0        0        0        0       0
1662     762              0       0        0        0        1       0
         782              0       0        0        0        1       0
1663     782              0       0        0        0        0       0
1664     782              0       0        0        0        0       0
         839              0       0        0        0        0       0
         870              0       0        0        0        0       0
         880              0       0        0        0        0       0
1665     782              0       0        0        0        0       0
1666     782              0       0        0        0        0       0
1667     782              0       0        0        0        0       0
1668     782              0       0        0        0        0       0
1669     782              0       0        0        1        0       0
1670     782              0       0        0        0        0       0
1671     787              0       0        0        0        0       0
1672     828              0       0        0        0        0       0
         896              0       0        0        0        0       0
1673     835              0       0        0        0        0       0
1674     840              0       0        0        0        0       0
1675     851              0       0        0        0        0       0
1676     851              0       0        0        0        0       0
1677     854              0       0        0        0        0       0
1678     863              0       0        0        0        0       0
1679     863              0       0        0        0        1       0
1680     863              0       0        0        0        1       0
1681     896              0       0        0        0        0       0
1682     916              0       0        0        0        0       0

                  Thriller  War  Western
movie_id user_id
1        1               0    0        0
         2               0    0        0
         5               0    0        0
         6               0    0        0
         10              0    0        0
         13              0    0        0
         15              0    0        0
         16              0    0        0
         17              0    0        0
         18              0    0        0
         20              0    0        0
         21              0    0        0
         23              0    0        0
         25              0    0        0
         26              0    0        0
         38              0    0        0
         41              0    0        0
         42              0    0        0
         43              0    0        0
         44              0    0        0
         45              0    0        0
         49              0    0        0
         54              0    0        0
         56              0    0        0
         57              0    0        0
         58              0    0        0
         59              0    0        0
         62              0    0        0
         63              0    0        0
         64              0    0        0
...                    ...  ...      ...
1658     894             0    0        0
1659     747             0    0        0
1660     747             0    0        0
1661     751             0    0        0
1662     762             0    0        0
         782             0    0        0
1663     782             0    1        0
1664     782             0    0        0
         839             0    0        0
         870             0    0        0
         880             0    0        0
1665     782             0    0        0
1666     782             0    0        0
1667     782             0    0        0
1668     782             0    0        0
1669     782             0    0        0
1670     782             1    0        0
1671     787             0    0        0
1672     828             0    0        0
         896             0    0        0
1673     835             1    0        0
1674     840             0    0        0
1675     851             0    0        0
1676     851             0    0        0
1677     854             0    0        0
1678     863             0    0        0
1679     863             1    0        0
1680     863             0    0        0
1681     896             0    0        0
1682     916             0    0        0

[100000 rows x 22 columns]

In [84]:
movies.groupby(['user_id', 'movie_id']).sum()
# pay your attention that the changing of the order of 
# columns for grouping in 
# its list also changes the result table

                  rating  timestamp   age  unknown  Action  Adventure  \
user_id movie_id
1       1              5  874965758  24.0        0       0          0
        2              3  876893171  24.0        0       1          1
        3              4  878542960  24.0        0       0          0
        4              3  876893119  24.0        0       1          0
        5              3  889751712  24.0        0       0          0
        6              5  887431973  24.0        0       0          0
        7              4  875071561  24.0        0       0          0
        8              1  875072484  24.0        0       0          0
        9              5  878543541  24.0        0       0          0
        10             3  875693118   0.0        0       0          0
        11             2  875072262  24.0        0       0          0
        12             5  878542960  24.0        0       0          0
        13             5  875071805  24.0        0       0          0
        14             5  874965706  24.0        0       0          0
        15             5  875071608   0.0        0       0          0
        16             5  878543541  24.0        0       0          0
        17             3  875073198  24.0        0       1          0
        18             4  887432020  24.0        0       0          0
        19             5  875071515  24.0        0       0          0
        20             4  887431883  24.0        0       0          0
        21             1  878542772   0.0        0       1          1
        22             4  875072404  24.0        0       1          0
        23             4  875072895  24.0        0       0          0
        24             3  875071713  24.0        0       1          1
        25             4  875071805  24.0        0       0          0
        26             3  875072442  24.0        0       0          0
        27             2  876892946  24.0        0       1          0
        28             4  875072173  24.0        0       1          0
        29             1  878542869  24.0        0       1          1
        30             3  878542515  24.0        0       0          0
...                  ...        ...   ...      ...     ...        ...
943     720            1  888640048  22.0        0       1          1
        721            5  888639660  22.0        0       0          0
        722            3  888640208  22.0        0       0          0
        724            1  888639478  22.0        0       0          0
        732            4  888639789  22.0        0       0          0
        739            4  888639929  22.0        0       0          0
        756            2  875502146  22.0        0       0          0
        763            4  875501813  22.0        0       0          0
        765            3  888640227   0.0        0       0          0
        785            2  888640088  22.0        0       0          0
        794            3  888640143  22.0        0       0          0
        796            3  888640311  22.0        0       0          0
        808            4  888639868  22.0        0       1          0
        816            4  888640186  22.0        0       0          0
        824            4  875502483  22.0        0       0          0
        825            3  875502283   0.0        0       1          0
        831            2  875502283  22.0        0       1          1
        840            4  888693104  22.0        0       1          0
        928            5  875502074  22.0        0       0          0
        941            1  888639725   0.0        0       0          0
        943            5  888639614  22.0        0       0          0
        1011           2  875502560  22.0        0       0          0
        1028           2  875502096  22.0        0       0          0
        1044           3  888639903  22.0        0       0          0
        1047           2  875502146  22.0        0       0          0
        1067           2  875501756  22.0        0       0          0
        1074           4  888640250  22.0        0       0          0
        1188           3  888640250  22.0        0       1          0
        1228           3  888640275  22.0        0       1          0
        1330           3  888692465  22.0        0       0          0

                  Animation  Childrens  Comedy  Crime   ...     Fantasy  \
user_id movie_id                                        ...
1       1                 1          1       1      0   ...           0
        2                 0          0       0      0   ...           0
        3                 0          0       0      0   ...           0
        4                 0          0       1      0   ...           0
        5                 0          0       0      1   ...           0
        6                 0          0       0      0   ...           0
        7                 0          0       0      0   ...           0
        8                 0          1       1      0   ...           0
        9                 0          0       0      0   ...           0
        10                0          0       0      0   ...           0
        11                0          0       0      1   ...           0
        12                0          0       0      1   ...           0
        13                0          0       1      0   ...           0
        14                0          0       0      0   ...           0
        15                0          0       0      0   ...           0
        16                0          0       1      0   ...           0
        17                0          0       1      1   ...           0
        18                0          0       0      0   ...           0
        19                0          0       0      0   ...           0
        20                0          0       0      0   ...           0
        21                0          0       1      0   ...           0
        22                0          0       0      0   ...           0
        23                0          0       0      0   ...           0
        24                0          0       0      1   ...           0
        25                0          0       1      0   ...           0
        26                0          0       1      0   ...           0
        27                0          0       0      0   ...           0
        28                0          0       0      0   ...           0
        29                0          0       1      1   ...           0
        30                0          0       0      0   ...           0
...                     ...        ...     ...    ...   ...         ...
943     720               0          0       0      0   ...           0
        721               0          0       1      0   ...           0
        722               0          0       1      0   ...           0
        724               0          0       0      0   ...           0
        732               0          0       1      0   ...           0
        739               0          0       1      0   ...           0
        756               0          0       1      0   ...           0
        763               0          0       1      0   ...           0
        765               0          0       1      0   ...           0
        785               0          0       1      0   ...           0
        794               0          0       0      0   ...           0
        796               0          0       1      0   ...           0
        808               0          0       0      0   ...           0
        816               0          0       0      0   ...           0
        824               0          0       1      0   ...           0
        825               0          0       0      0   ...           0
        831               0          0       0      0   ...           0
        840               0          0       0      0   ...           0
        928               0          0       0      0   ...           0
        941               0          0       1      0   ...           0
        943               0          0       0      0   ...           0
        1011              0          0       0      1   ...           0
        1028              0          0       1      0   ...           0
        1044              0          0       1      0   ...           0
        1047              0          0       1      0   ...           0
        1067              0          0       1      0   ...           0
        1074              0          0       1      0   ...           0
        1188              0          0       1      0   ...           0
        1228              0          0       0      0   ...           0
        1330              0          0       0      0   ...           0

                  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  \
user_id movie_id
1       1                 0       0        0        0        0       0
        2                 0       0        0        0        0       0
        3                 0       0        0        0        0       0
        4                 0       0        0        0        0       0
        5                 0       0        0        0        0       0
        6                 0       0        0        0        0       0
        7                 0       0        0        0        0       1
        8                 0       0        0        0        0       0
        9                 0       0        0        0        0       0
        10                0       0        0        0        0       0
        11                0       0        0        0        0       0
        12                0       0        0        0        0       0
        13                0       0        0        0        0       0
        14                0       0        0        0        1       0
        15                0       0        0        0        0       0
        16                0       0        0        0        1       0
        17                0       1        0        0        0       0
        18                0       0        0        0        0       0
        19                0       0        0        0        0       0
        20                0       0        0        0        1       0
        21                0       0        1        0        0       0
        22                0       0        0        0        0       0
        23                0       0        0        0        0       0
        24                0       0        0        0        0       0
        25                0       0        0        0        0       0
        26                0       0        0        0        0       0
        27                0       0        0        0        0       0
        28                0       0        0        0        0       0
        29                0       0        0        0        0       0
        30                0       0        0        0        0       0
...                     ...     ...      ...      ...      ...     ...
943     720               0       0        0        0        1       0
        721               0       0        0        0        0       0
        722               0       0        0        0        0       0
        724               0       0        0        0        1       0
        732               0       0        0        0        1       0
        739               0       0        0        0        1       0
        756               0       0        0        0        0       0
        763               0       0        0        0        0       0
        765               0       0        0        0        1       0
        785               0       0        0        0        1       0
        794               0       0        0        0        1       0
        796               0       0        0        0        1       0
        808               0       0        0        0        0       0
        816               0       1        0        0        0       0
        824               0       0        0        0        0       0
        825               0       0        0        0        0       1
        831               0       0        0        0        0       1
        840               0       0        0        0        0       0
        928               0       1        0        0        0       0
        941               0       0        0        0        0       0
        943               0       0        0        0        0       0
        1011              0       0        0        0        0       0
        1028              0       0        0        0        1       0
        1044              0       0        0        0        0       0
        1047              0       0        0        0        0       0
        1067              0       0        0        0        0       0
        1074              0       0        0        0        0       0
        1188              0       0        0        0        0       0
        1228              0       0        0        0        0       0
        1330              0       0        0        0        0       0

                  Thriller  War  Western
user_id movie_id
1       1                0    0        0
        2                1    0        0
        3                1    0        0
        4                0    0        0
        5                1    0        0
        6                0    0        0
        7                0    0        0
        8                0    0        0
        9                0    0        0
        10               0    1        0
        11               1    0        0
        12               1    0        0
        13               0    0        0
        14               0    0        0
        15               0    0        0
        16               0    0        0
        17               1    0        0
        18               0    0        0
        19               0    0        0
        20               0    0        0
        21               1    0        0
        22               0    1        0
        23               1    0        0
        24               0    0        0
        25               0    0        0
        26               0    0        0
        27               0    0        0
        28               1    0        0
        29               0    0        0
        30               0    0        0
...                    ...  ...      ...
943     720              0    0        0
        721              0    0        0
        722              0    0        0
        724              0    0        0
        732              0    0        0
        739              0    0        0
        756              0    0        0
        763              0    0        0
        765              0    0        0
        785              0    0        0
        794              0    0        0
        796              0    0        0
        808              0    0        0
        816              0    0        0
        824              0    0        0
        825              1    0        0
        831              1    0        0
        840              0    0        1
        928              0    0        0
        941              0    0        0
        943              1    0        0
        1011             0    0        0
        1028             0    0        0
        1044             0    0        0
        1047             0    0        0
        1067             0    0        0
        1074             0    0        0
        1188             0    0        1
        1228             0    0        0
        1330             0    0        0

[100000 rows x 22 columns]


It is possible also to show all groups

In [87]:
movies_grouped.groups

{1: Int64Index([50260, 50261, 50262, 50263, 50264, 50265, 50266, 50267, 50268,
             50269,
             ...
             50702, 50703, 50704, 50705, 50706, 50707, 50708, 50709, 50710,
             50711],
            dtype='int64', length=452),
 2: Int64Index([30722, 30723, 30724, 30725, 30726, 30727, 30728, 30729, 30730,
             30731,
             ...
             30843, 30844, 30845, 30846, 30847, 30848, 30849, 30850, 30851,
             30852],
            dtype='int64', length=131),
 3: Int64Index([47904, 47905, 47906, 47907, 47908, 47909, 47910, 47911, 47912,
             47913, 47914, 47915, 47916, 47917, 47918, 47919, 47920, 47921,
             47922, 47923, 47924, 47925, 47926, 47927, 47928, 47929, 47930,
             47931, 47932, 47933, 47934, 47935, 47936, 47937, 47938, 47939,
             47940, 47941, 47942, 47943, 47944, 47945, 47946, 47947, 47948,
             47949, 47950, 47951, 47952, 47953, 47954, 47955, 47956, 47957,
             47958, 47959, 47960, 47961, 47962, 47963, 47964, 47965, 47966,
             47967, 47968, 47969, 47970, 47971, 47972, 47973, 47974, 47975,
             47976, 47977, 47978, 47979, 47980, 47981, 47982, 47983, 47984,
             47985, 47986, 47987, 47988, 47989, 47990, 47991, 47992, 47993],
            dtype='int64'),
 4: Int64Index([32456, 32457, 32458, 32459, 32460, 32461, 32462, 32463, 32464,
             32465,
             ...
             32655, 32656, 32657, 32658, 32659, 32660, 32661, 32662, 32663,
             32664],
            dtype='int64', length=209),
 5: Int64Index([89357, 89358, 89359, 89360, 89361, 89362, 89363, 89364, 89365,
             89366, 89367, 89368, 89369, 89370, 89371, 89372, 89373, 89374,
             89375, 89376, 89377, 89378, 89379, 89380, 89381, 89382, 89383,
             89384, 89385, 89386, 89387, 89388, 89389, 89390, 89391, 89392,
             89393, 89394, 89395, 89396, 89397, 89398, 89399, 89400, 89401,
             89402, 89403, 89404, 89405, 89406, 89407, 89408, 89409, 89410,
             89411, 89412, 89413, 89414, 89415, 89416, 89417, 89418, 89419,
             89420, 89421, 89422, 89423, 89424, 89425, 89426, 89427, 89428,
             89429, 89430, 89431, 89432, 89433, 89434, 89435, 89436, 89437,
             89438, 89439, 89440, 89441, 89442],
            dtype='int64'),
 6: Int64Index([95660, 95661, 95662, 95663, 95664, 95665, 95666, 95667, 95668,
             95669, 95670, 95671, 95672, 95673, 95674, 95675, 95676, 95677,
             95678, 95679, 95680, 95681, 95682, 95683, 95684, 95685],
            dtype='int64'),
 7: Int64Index([36685, 36686, 36687, 36688, 36689, 36690, 36691, 36692, 36693,
             36694,
             ...
             37067, 37068, 37069, 37070, 37071, 37072, 37073, 37074, 37075,
             37076],
            dtype='int64', length=392),
 8: Int64Index([2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639, 2640, 2641,
             ...
             2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850],
            dtype='int64', length=219),
 9: Int64Index([51028, 51029, 51030, 51031, 51032, 51033, 51034, 51035, 51036,
             51037,
             ...
             51317, 51318, 51319, 51320, 51321, 51322, 51323, 51324, 51325,
             51326],
            dtype='int64', length=299),
 10: Int64Index([91967, 91968, 91969, 91970, 91971, 91972, 91973, 91974, 91975,
             91976, 91977, 91978, 91979, 91980, 91981, 91982, 91983, 91984,
             91985, 91986, 91987, 91988, 91989, 91990, 91991, 91992, 91993,
             91994, 91995, 91996, 91997, 91998, 91999, 92000, 92001, 92002,
             92003, 92004, 92005, 92006, 92007, 92008, 92009, 92010, 92011,
             92012, 92013, 92014, 92015, 92016, 92017, 92018, 92019, 92020,
             92021, 92022, 92023, 92024, 92025, 92026, 92027, 92028, 92029,
             92030, 92031, 92032, 92033, 92034, 92035, 92036, 92037, 92038,
             92039, 92040, 92041, 92042, 92043, 92044, 92045, 92046, 92047,
             92048, 92049, 92050, 92051, 92052, 92053, 92054, 92055],
            dtype='int64'),
 11: Int64Index([64365, 64366, 64367, 64368, 64369, 64370, 64371, 64372, 64373,
             64374,
             ...
             64591, 64592, 64593, 64594, 64595, 64596, 64597, 64598, 64599,
             64600],
            dtype='int64', length=236),
 12: Int64Index([18462, 18463, 18464, 18465, 18466, 18467, 18468, 18469, 18470,
             18471,
             ...
             18719, 18720, 18721, 18722, 18723, 18724, 18725, 18726, 18727,
             18728],
            dtype='int64', length=267),
 13: Int64Index([5208, 5209, 5210, 5211, 5212, 5213, 5214, 5215, 5216, 5217,
             ...
             5382, 5383, 5384, 5385, 5386, 5387, 5388, 5389, 5390, 5391],
            dtype='int64', length=184),
 14: Int64Index([69923, 69924, 69925, 69926, 69927, 69928, 69929, 69930, 69931,
             69932,
             ...
             70096, 70097, 70098, 70099, 70100, 70101, 70102, 70103, 70104,
             70105],
            dtype='int64', length=183),
 15: Int64Index([68307, 68308, 68309, 68310, 68311, 68312, 68313, 68314, 68315,
             68316,
             ...
             68590, 68591, 68592, 68593, 68594, 68595, 68596, 68597, 68598,
             68599],
            dtype='int64', length=293),
 16: Int64Index([72394, 72395, 72396, 72397, 72398, 72399, 72400, 72401, 72402,
             72403, 72404, 72405, 72406, 72407, 72408, 72409, 72410, 72411,
             72412, 72413, 72414, 72415, 72416, 72417, 72418, 72419, 72420,
             72421, 72422, 72423, 72424, 72425, 72426, 72427, 72428, 72429,
             72430, 72431, 72432],
            dtype='int64'),
 17: Int64Index([30377, 30378, 30379, 30380, 30381, 30382, 30383, 30384, 30385,
             30386, 30387, 30388, 30389, 30390, 30391, 30392, 30393, 30394,
             30395, 30396, 30397, 30398, 30399, 30400, 30401, 30402, 30403,
             30404, 30405, 30406, 30407, 30408, 30409, 30410, 30411, 30412,
             30413, 30414, 30415, 30416, 30417, 30418, 30419, 30420, 30421,
             30422, 30423, 30424, 30425, 30426, 30427, 30428, 30429, 30430,
             30431, 30432, 30433, 30434, 30435, 30436, 30437, 30438, 30439,
             30440, 30441, 30442, 30443, 30444, 30445, 30446, 30447, 30448,
             30449, 30450, 30451, 30452, 30453, 30454, 30455, 30456, 30457,
             30458, 30459, 30460, 30461, 30462, 30463, 30464, 30465, 30466,
             30467, 30468],
            dtype='int64'),
 18: Int64Index([96837, 96838, 96839, 96840, 96841, 96842, 96843, 96844, 96845,
             96846],
            dtype='int64'),
 19: Int64Index([75029, 75030, 75031, 75032, 75033, 75034, 75035, 75036, 75037,
             75038, 75039, 75040, 75041, 75042, 75043, 75044, 75045, 75046,
             75047, 75048, 75049, 75050, 75051, 75052, 75053, 75054, 75055,
             75056, 75057, 75058, 75059, 75060, 75061, 75062, 75063, 75064,
             75065, 75066, 75067, 75068, 75069, 75070, 75071, 75072, 75073,
             75074, 75075, 75076, 75077, 75078, 75079, 75080, 75081, 75082,
             75083, 75084, 75085, 75086, 75087, 75088, 75089, 75090, 75091,
             75092, 75093, 75094, 75095, 75096, 75097],
            dtype='int64'),
 20: Int64Index([38849, 38850, 38851, 38852, 38853, 38854, 38855, 38856, 38857,
             38858, 38859, 38860, 38861, 38862, 38863, 38864, 38865, 38866,
             38867, 38868, 38869, 38870, 38871, 38872, 38873, 38874, 38875,
             38876, 38877, 38878, 38879, 38880, 38881, 38882, 38883, 38884,
             38885, 38886, 38887, 38888, 38889, 38890, 38891, 38892, 38893,
             38894, 38895, 38896, 38897, 38898, 38899, 38900, 38901, 38902,
             38903, 38904, 38905, 38906, 38907, 38908, 38909, 38910, 38911,
             38912, 38913, 38914, 38915, 38916, 38917, 38918, 38919, 38920],
            dtype='int64'),
 21: Int64Index([29689, 29690, 29691, 29692, 29693, 29694, 29695, 29696, 29697,
             29698, 29699, 29700, 29701, 29702, 29703, 29704, 29705, 29706,
             29707, 29708, 29709, 29710, 29711, 29712, 29713, 29714, 29715,
             29716, 29717, 29718, 29719, 29720, 29721, 29722, 29723, 29724,
             29725, 29726, 29727, 29728, 29729, 29730, 29731, 29732, 29733,
             29734, 29735, 29736, 29737, 29738, 29739, 29740, 29741, 29742,
             29743, 29744, 29745, 29746, 29747, 29748, 29749, 29750, 29751,
             29752, 29753, 29754, 29755, 29756, 29757, 29758, 29759, 29760,
             29761, 29762, 29763, 29764, 29765, 29766, 29767, 29768, 29769,
             29770, 29771, 29772],
            dtype='int64'),
 22: Int64Index([38950, 38951, 38952, 38953, 38954, 38955, 38956, 38957, 38958,
             38959,
             ...
             39237, 39238, 39239, 39240, 39241, 39242, 39243, 39244, 39245,
             39246],
            dtype='int64', length=297),
 23: Int64Index([59915, 59916, 59917, 59918, 59919, 59920, 59921, 59922, 59923,
             59924,
             ...
             60087, 60088, 60089, 60090, 60091, 60092, 60093, 60094, 60095,
             60096],
            dtype='int64', length=182),
 24: Int64Index([28958, 28959, 28960, 28961, 28962, 28963, 28964, 28965, 28966,
             28967,
             ...
             29122, 29123, 29124, 29125, 29126, 29127, 29128, 29129, 29130,
             29131],
            dtype='int64', length=174),
 25: Int64Index([1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566,
             ...
             1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849],
            dtype='int64', length=293),
 26: Int64Index([50187, 50188, 50189, 50190, 50191, 50192, 50193, 50194, 50195,
             50196, 50197, 50198, 50199, 50200, 50201, 50202, 50203, 50204,
             50205, 50206, 50207, 50208, 50209, 50210, 50211, 50212, 50213,
             50214, 50215, 50216, 50217, 50218, 50219, 50220, 50221, 50222,
             50223, 50224, 50225, 50226, 50227, 50228, 50229, 50230, 50231,
             50232, 50233, 50234, 50235, 50236, 50237, 50238, 50239, 50240,
             50241, 50242, 50243, 50244, 50245, 50246, 50247, 50248, 50249,
             50250, 50251, 50252, 50253, 50254, 50255, 50256, 50257, 50258,
             50259],
            dtype='int64'),
 27: Int64Index([91757, 91758, 91759, 91760, 91761, 91762, 91763, 91764, 91765,
             91766, 91767, 91768, 91769, 91770, 91771, 91772, 91773, 91774,
             91775, 91776, 91777, 91778, 91779, 91780, 91781, 91782, 91783,
             91784, 91785, 91786, 91787, 91788, 91789, 91790, 91791, 91792,
             91793, 91794, 91795, 91796, 91797, 91798, 91799, 91800, 91801,
             91802, 91803, 91804, 91805, 91806, 91807, 91808, 91809, 91810,
             91811, 91812, 91813],
            dtype='int64'),
 28: Int64Index([52923, 52924, 52925, 52926, 52927, 52928, 52929, 52930, 52931,
             52932,
             ...
             53189, 53190, 53191, 53192, 53193, 53194, 53195, 53196, 53197,
             53198],
            dtype='int64', length=276),
 29: Int64Index([22164, 22165, 22166, 22167, 22168, 22169, 22170, 22171, 22172,
             22173,
             ...
             22268, 22269, 22270, 22271, 22272, 22273, 22274, 22275, 22276,
             22277],
            dtype='int64', length=114),
 30: Int64Index([90497, 90498, 90499, 90500, 90501, 90502, 90503, 90504, 90505,
             90506, 90507, 90508, 90509, 90510, 90511, 90512, 90513, 90514,
             90515, 90516, 90517, 90518, 90519, 90520, 90521, 90522, 90523,
             90524, 90525, 90526, 90527, 90528, 90529, 90530, 90531, 90532,
             90533],
            dtype='int64'),
 31: Int64Index([11303, 11304, 11305, 11306, 11307, 11308, 11309, 11310, 11311,
             11312,
             ...
             11447, 11448, 11449, 11450, 11451, 11452, 11453, 11454, 11455,
             11456],
            dtype='int64', length=154),
 32: Int64Index([45016, 45017, 45018, 45019, 45020, 45021, 45022, 45023, 45024,
             45025, 45026, 45027, 45028, 45029, 45030, 45031, 45032, 45033,
             45034, 45035, 45036, 45037, 45038, 45039, 45040, 45041, 45042,
             45043, 45044, 45045, 45046, 45047, 45048, 45049, 45050, 45051,
             45052, 45053, 45054, 45055, 45056, 45057, 45058, 45059, 45060,
             45061, 45062, 45063, 45064, 45065, 45066, 45067, 45068, 45069,
             45070, 45071, 45072, 45073, 45074, 45075, 45076, 45077, 45078,
             45079, 45080, 45081, 45082, 45083, 45084, 45085, 45086, 45087,
             45088, 45089, 45090, 45091, 45092, 45093, 45094, 45095, 45096],
            dtype='int64'),
 33: Int64Index([65408, 65409, 65410, 65411, 65412, 65413, 65414, 65415, 65416,
             65417, 65418, 65419, 65420, 65421, 65422, 65423, 65424, 65425,
             65426, 65427, 65428, 65429, 65430, 65431, 65432, 65433, 65434,
             65435, 65436, 65437, 65438, 65439, 65440, 65441, 65442, 65443,
             65444, 65445, 65446, 65447, 65448, 65449, 65450, 65451, 65452,
             65453, 65454, 65455, 65456, 65457, 65458, 65459, 65460, 65461,
             65462, 65463, 65464, 65465, 65466, 65467, 65468, 65469, 65470,
             65471, 65472, 65473, 65474, 65475, 65476, 65477, 65478, 65479,
             65480, 65481, 65482, 65483, 65484, 65485, 65486, 65487, 65488,
             65489, 65490, 65491, 65492, 65493, 65494, 65495, 65496, 65497,
             65498, 65499, 65500, 65501, 65502, 65503, 65504],
            dtype='int64'),
 34: Int64Index([79926, 79927, 79928, 79929, 79930, 79931, 79932], dtype='int64'),
 35: Int64Index([95440, 95441, 95442, 95443, 95444, 95445, 95446, 95447, 95448,
             95449, 95450],
            dtype='int64'),
 36: Int64Index([98143, 98144, 98145, 98146, 98147, 98148, 98149, 98150, 98151,
             98152, 98153, 98154, 98155],
            dtype='int64'),
 37: Int64Index([98053, 98054, 98055, 98056, 98057, 98058, 98059, 98060], dtype='int64'),
 38: Int64Index([17126, 17127, 17128, 17129, 17130, 17131, 17132, 17133, 17134,
             17135,
             ...
             17236, 17237, 17238, 17239, 17240, 17241, 17242, 17243, 17244,
             17245],
            dtype='int64', length=120),
 39: Int64Index([95792, 95793, 95794, 95795, 95796, 95797, 95798, 95799, 95800,
             95801, 95802, 95803, 95804, 95805, 95806, 95807, 95808, 95809,
             95810, 95811, 95812, 95813, 95814, 95815, 95816, 95817, 95818,
             95819, 95820, 95821, 95822, 95823, 95824, 95825, 95826, 95827,
             95828, 95829, 95830, 95831, 95832, 95833, 95834, 95835, 95836,
             95837, 95838, 95839, 95840, 95841, 95842, 95843, 95844, 95845,
             95846, 95847, 95848, 95849, 95850, 95851, 95852, 95853, 95854,
             95855, 95856, 95857, 95858, 95859, 95860, 95861, 95862, 95863,
             95864, 95865, 95866, 95867, 95868, 95869, 95870, 95871, 95872,
             95873, 95874, 95875, 95876, 95877, 95878],
            dtype='int64'),
 40: Int64Index([44143, 44144, 44145, 44146, 44147, 44148, 44149, 44150, 44151,
             44152, 44153, 44154, 44155, 44156, 44157, 44158, 44159, 44160,
             44161, 44162, 44163, 44164, 44165, 44166, 44167, 44168, 44169,
             44170, 44171, 44172, 44173, 44174, 44175, 44176, 44177, 44178,
             44179, 44180, 44181, 44182, 44183, 44184, 44185, 44186, 44187,
             44188, 44189, 44190, 44191, 44192, 44193, 44194, 44195, 44196,
             44197, 44198, 44199],
            dtype='int64'),
 41: Int64Index([82344, 82345, 82346, 82347, 82348, 82349, 82350, 82351, 82352,
             82353, 82354, 82355, 82356, 82357, 82358, 82359, 82360, 82361,
             82362, 82363, 82364, 82365, 82366, 82367, 82368, 82369, 82370,
             82371, 82372, 82373, 82374, 82375, 82376, 82377, 82378, 82379,
             82380],
            dtype='int64'),
 42: Int64Index([43318, 43319, 43320, 43321, 43322, 43323, 43324, 43325, 43326,
             43327,
             ...
             43456, 43457, 43458, 43459, 43460, 43461, 43462, 43463, 43464,
             43465],
            dtype='int64', length=148),
 43: Int64Index([84384, 84385, 84386, 84387, 84388, 84389, 84390, 84391, 84392,
             84393, 84394, 84395, 84396, 84397, 84398, 84399, 84400, 84401,
             84402, 84403, 84404, 84405, 84406, 84407, 84408, 84409, 84410,
             84411, 84412, 84413, 84414, 84415, 84416, 84417, 84418, 84419,
             84420, 84421, 84422, 84423],
            dtype='int64'),
 44: Int64Index([ 9998,  9999, 10000, 10001, 10002, 10003, 10004, 10005, 10006,
             10007, 10008, 10009, 10010, 10011, 10012, 10013, 10014, 10015,
             10016, 10017, 10018, 10019, 10020, 10021, 10022, 10023, 10024,
             10025, 10026, 10027, 10028, 10029, 10030, 10031, 10032, 10033,
             10034, 10035, 10036, 10037, 10038, 10039, 10040, 10041, 10042,
             10043, 10044, 10045, 10046, 10047, 10048, 10049, 10050, 10051,
             10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059, 10060,
             10061, 10062, 10063, 10064, 10065, 10066, 10067, 10068, 10069,
             10070, 10071, 10072, 10073, 10074, 10075, 10076],
            dtype='int64'),
 45: Int64Index([74427, 74428, 74429, 74430, 74431, 74432, 74433, 74434, 74435,
             74436, 74437, 74438, 74439, 74440, 74441, 74442, 74443, 74444,
             74445, 74446, 74447, 74448, 74449, 74450, 74451, 74452, 74453,
             74454, 74455, 74456, 74457, 74458, 74459, 74460, 74461, 74462,
             74463, 74464, 74465, 74466, 74467, 74468, 74469, 74470, 74471,
             74472, 74473, 74474, 74475, 74476, 74477, 74478, 74479, 74480,
             74481, 74482, 74483, 74484, 74485, 74486, 74487, 74488, 74489,
             74490, 74491, 74492, 74493, 74494, 74495, 74496, 74497, 74498,
             74499, 74500, 74501, 74502, 74503, 74504, 74505, 74506],
            dtype='int64'),
 46: Int64Index([90030, 90031, 90032, 90033, 90034, 90035, 90036, 90037, 90038,
             90039, 90040, 90041, 90042, 90043, 90044, 90045, 90046, 90047,
             90048, 90049, 90050, 90051, 90052, 90053, 90054, 90055, 90056],
            dtype='int64'),
 47: Int64Index([76714, 76715, 76716, 76717, 76718, 76719, 76720, 76721, 76722,
             76723,
             ...
             76837, 76838, 76839, 76840, 76841, 76842, 76843, 76844, 76845,
             76846],
            dtype='int64', length=133),
 48: Int64Index([66503, 66504, 66505, 66506, 66507, 66508, 66509, 66510, 66511,
             66512,
             ...
             66610, 66611, 66612, 66613, 66614, 66615, 66616, 66617, 66618,
             66619],
            dtype='int64', length=117),
 49: Int64Index([74043, 74044, 74045, 74046, 74047, 74048, 74049, 74050, 74051,
             74052, 74053, 74054, 74055, 74056, 74057, 74058, 74059, 74060,
             74061, 74062, 74063, 74064, 74065, 74066, 74067, 74068, 74069,
             74070, 74071, 74072, 74073, 74074, 74075, 74076, 74077, 74078,
             74079, 74080, 74081, 74082, 74083, 74084, 74085, 74086, 74087,
             74088, 74089, 74090, 74091, 74092, 74093, 74094, 74095, 74096,
             74097, 74098, 74099, 74100, 74101, 74102, 74103, 74104, 74105,
             74106, 74107, 74108, 74109, 74110, 74111, 74112, 74113, 74114,
             74115, 74116, 74117, 74118, 74119, 74120, 74121, 74122, 74123],
            dtype='int64'),
 50: Int64Index([33306, 33307, 33308, 33309, 33310, 33311, 33312, 33313, 33314,
             33315,
             ...
             33879, 33880, 33881, 33882, 33883, 33884, 33885, 33886, 33887,
             33888],
            dtype='int64', length=583),
 51: Int64Index([35250, 35251, 35252, 35253, 35254, 35255, 35256, 35257, 35258,
             35259, 35260, 35261, 35262, 35263, 35264, 35265, 35266, 35267,
             35268, 35269, 35270, 35271, 35272, 35273, 35274, 35275, 35276,
             35277, 35278, 35279, 35280, 35281, 35282, 35283, 35284, 35285,

In [88]:
movie_user_id_grouped = movies.groupby(['movie_id', 'user_id'])
movie_user_id_grouped.groups

{(1, 1): Int64Index([50341], dtype='int64'),
 (1, 2): Int64Index([50389], dtype='int64'),
 (1, 5): Int64Index([50335], dtype='int64'),
 (1, 6): Int64Index([50264], dtype='int64'),
 (1, 10): Int64Index([50286], dtype='int64'),
 (1, 13): Int64Index([50302], dtype='int64'),
 (1, 15): Int64Index([50343], dtype='int64'),
 (1, 16): Int64Index([50350], dtype='int64'),
 (1, 17): Int64Index([50395], dtype='int64'),
 (1, 18): Int64Index([50337], dtype='int64'),
 (1, 20): Int64Index([50301], dtype='int64'),
 (1, 21): Int64Index([50367], dtype='int64'),
 (1, 23): Int64Index([50359], dtype='int64'),
 (1, 25): Int64Index([50296], dtype='int64'),
 (1, 26): Int64Index([50338], dtype='int64'),
 (1, 38): Int64Index([50276], dtype='int64'),
 (1, 41): Int64Index([50325], dtype='int64'),
 (1, 42): Int64Index([50299], dtype='int64'),
 (1, 43): Int64Index([50329], dtype='int64'),
 (1, 44): Int64Index([50324], dtype='int64'),
 (1, 45): Int64Index([50379], dtype='int64'),
 (1, 49): Int64Index([50333], dtype='int64'),
 (1, 54): Int64Index([50349], dtype='int64'),
 (1, 56): Int64Index([50342], dtype='int64'),
 (1, 57): Int64Index([50304], dtype='int64'),
 (1, 58): Int64Index([50321], dtype='int64'),
 (1, 59): Int64Index([50297], dtype='int64'),
 (1, 62): Int64Index([50265], dtype='int64'),
 (1, 63): Int64Index([50278], dtype='int64'),
 (1, 64): Int64Index([50371], dtype='int64'),
 (1, 65): Int64Index([50373], dtype='int64'),
 (1, 66): Int64Index([50336], dtype='int64'),
 (1, 67): Int64Index([50410], dtype='int64'),
 (1, 70): Int64Index([50352], dtype='int64'),
 (1, 72): Int64Index([50298], dtype='int64'),
 (1, 73): Int64Index([50376], dtype='int64'),
 (1, 75): Int64Index([50385], dtype='int64'),
 (1, 77): Int64Index([50361], dtype='int64'),
 (1, 79): Int64Index([50384], dtype='int64'),
 (1, 81): Int64Index([50295], dtype='int64'),
 (1, 82): Int64Index([50326], dtype='int64'),
 (1, 83): Int64Index([50347], dtype='int64'),
 (1, 84): Int64Index([50330], dtype='int64'),
 (1, 89): Int64Index([50394], dtype='int64'),
 (1, 92): Int64Index([50308], dtype='int64'),
 (1, 93): Int64Index([50391], dtype='int64'),
 (1, 94): Int64Index([50322], dtype='int64'),
 (1, 95): Int64Index([50275], dtype='int64'),
 (1, 96): Int64Index([50375], dtype='int64'),
 (1, 97): Int64Index([50282], dtype='int64'),
 (1, 99): Int64Index([50292], dtype='int64'),
 (1, 101): Int64Index([50362], dtype='int64'),
 (1, 102): Int64Index([50277], dtype='int64'),
 (1, 106): Int64Index([50398], dtype='int64'),
 (1, 108): Int64Index([50393], dtype='int64'),
 (1, 109): Int64Index([50370], dtype='int64'),
 (1, 117): Int64Index([50372], dtype='int64'),
 (1, 120): Int64Index([50406], dtype='int64'),
 (1, 121): Int64Index([50332], dtype='int64'),
 (1, 124): Int64Index([50397], dtype='int64'),
 (1, 125): Int64Index([50346], dtype='int64'),
 (1, 128): Int64Index([50323], dtype='int64'),
 (1, 130): Int64Index([50339], dtype='int64'),
 (1, 131): Int64Index([50380], dtype='int64'),
 (1, 134): Int64Index([50368], dtype='int64'),
 (1, 137): Int64Index([50374], dtype='int64'),
 (1, 138): Int64Index([50303], dtype='int64'),
 (1, 141): Int64Index([50392], dtype='int64'),
 (1, 144): Int64Index([50364], dtype='int64'),
 (1, 145): Int64Index([50314], dtype='int64'),
 (1, 148): Int64Index([50345], dtype='int64'),
 (1, 150): Int64Index([50386], dtype='int64'),
 (1, 151): Int64Index([50348], dtype='int64'),
 (1, 157): Int64Index([50283], dtype='int64'),
 (1, 158): Int64Index([50358], dtype='int64'),
 (1, 160): Int64Index([50279], dtype='int64'),
 (1, 162): Int64Index([50312], dtype='int64'),
 (1, 168): Int64Index([50320], dtype='int64'),
 (1, 174): Int64Index([50328], dtype='int64'),
 (1, 177): Int64Index([50365], dtype='int64'),
 (1, 178): Int64Index([50293], dtype='int64'),
 (1, 181): Int64Index([50284], dtype='int64'),
 (1, 182): Int64Index([50378], dtype='int64'),
 (1, 184): Int64Index([50363], dtype='int64'),
 (1, 189): Int64Index([50306], dtype='int64'),
 (1, 193): Int64Index([50356], dtype='int64'),
 (1, 194): Int64Index([50270], dtype='int64'),
 (1, 198): Int64Index([50319], dtype='int64'),
 (1, 199): Int64Index([50400], dtype='int64'),
 (1, 200): Int64Index([50267], dtype='int64'),
 (1, 201): Int64Index([50287], dtype='int64'),
 (1, 202): Int64Index([50401], dtype='int64'),
 (1, 203): Int64Index([50366], dtype='int64'),
 (1, 204): Int64Index([50405], dtype='int64'),
 (1, 209): Int64Index([50408], dtype='int64'),
 (1, 210): Int64Index([50268], dtype='int64'),
 (1, 213): Int64Index([50331], dtype='int64'),
 (1, 216): Int64Index([50315], dtype='int64'),
 (1, 222): Int64Index([50311], dtype='int64'),
 (1, 223): Int64Index([50305], dtype='int64'),
 (1, 230): Int64Index([50381], dtype='int64'),
 (1, 231): Int64Index([50382], dtype='int64'),
 (1, 232): Int64Index([50344], dtype='int64'),
 (1, 234): Int64Index([50272], dtype='int64'),
 (1, 235): Int64Index([50377], dtype='int64'),
 (1, 242): Int64Index([50290], dtype='int64'),
 (1, 243): Int64Index([50307], dtype='int64'),
 (1, 244): Int64Index([50260], dtype='int64'),
 (1, 246): Int64Index([50289], dtype='int64'),
 (1, 247): Int64Index([50409], dtype='int64'),
 (1, 248): Int64Index([50390], dtype='int64'),
 (1, 249): Int64Index([50291], dtype='int64'),
 (1, 250): Int64Index([50316], dtype='int64'),
 (1, 251): Int64Index([50294], dtype='int64'),
 (1, 252): Int64Index([50404], dtype='int64'),
 (1, 253): Int64Index([50262], dtype='int64'),
 (1, 254): Int64Index([50309], dtype='int64'),
 (1, 256): Int64Index([50340], dtype='int64'),
 (1, 262): Int64Index([50327], dtype='int64'),
 (1, 263): Int64Index([50369], dtype='int64'),
 (1, 265): Int64Index([50318], dtype='int64'),
 (1, 268): Int64Index([50334], dtype='int64'),
 (1, 271): Int64Index([50317], dtype='int64'),
 (1, 274): Int64Index([50387], dtype='int64'),
 (1, 275): Int64Index([50357], dtype='int64'),
 (1, 276): Int64Index([50285], dtype='int64'),
 (1, 277): Int64Index([50402], dtype='int64'),
 (1, 279): Int64Index([50313], dtype='int64'),
 (1, 280): Int64Index([50383], dtype='int64'),
 (1, 286): Int64Index([50266], dtype='int64'),
 (1, 287): Int64Index([50288], dtype='int64'),
 (1, 289): Int64Index([50407], dtype='int64'),
 (1, 290): Int64Index([50281], dtype='int64'),
 (1, 291): Int64Index([50271], dtype='int64'),
 (1, 292): Int64Index([50300], dtype='int64'),
 (1, 293): Int64Index([50310], dtype='int64'),
 (1, 294): Int64Index([50351], dtype='int64'),
 (1, 295): Int64Index([50353], dtype='int64'),
 (1, 296): Int64Index([50360], dtype='int64'),
 (1, 297): Int64Index([50355], dtype='int64'),
 (1, 298): Int64Index([50261], dtype='int64'),
 (1, 299): Int64Index([50273], dtype='int64'),
 (1, 301): Int64Index([50280], dtype='int64'),
 (1, 303): Int64Index([50269], dtype='int64'),
 (1, 305): Int64Index([50263], dtype='int64'),
 (1, 307): Int64Index([50354], dtype='int64'),
 (1, 308): Int64Index([50274], dtype='int64'),
 (1, 311): Int64Index([50388], dtype='int64'),
 (1, 312): Int64Index([50399], dtype='int64'),
 (1, 313): Int64Index([50396], dtype='int64'),
 (1, 314): Int64Index([50403], dtype='int64'),
 (1, 320): Int64Index([50412], dtype='int64'),
 (1, 322): Int64Index([50415], dtype='int64'),
 (1, 324): Int64Index([50419], dtype='int64'),
 (1, 325): Int64Index([50411], dtype='int64'),
 (1, 326): Int64Index([50413], dtype='int64'),
 (1, 327): Int64Index([50414], dtype='int64'),
 (1, 330): Int64Index([50416], dtype='int64'),
 (1, 331): Int64Index([50417], dtype='int64'),
 (1, 332): Int64Index([50418], dtype='int64'),
 (1, 336): Int64Index([50420], dtype='int64'),
 (1, 338): Int64Index([50421], dtype='int64'),
 (1, 339): Int64Index([50422], dtype='int64'),
 (1, 340): Int64Index([50423], dtype='int64'),
 (1, 343): Int64Index([50424], dtype='int64'),
 (1, 344): Int64Index([50425], dtype='int64'),
 (1, 345): Int64Index([50426], dtype='int64'),
 (1, 347): Int64Index([50427], dtype='int64'),
 (1, 348): Int64Index([50428], dtype='int64'),
 (1, 350): Int64Index([50433], dtype='int64'),
 (1, 357): Int64Index([50431], dtype='int64'),
 (1, 359): Int64Index([50437], dtype='int64'),
 (1, 360): Int64Index([50429], dtype='int64'),
 (1, 363): Int64Index([50430], dtype='int64'),
 (1, 365): Int64Index([50432], dtype='int64'),
 (1, 371): Int64Index([50434], dtype='int64'),
 (1, 374): Int64Index([50435], dtype='int64'),
 (1, 378): Int64Index([50436], dtype='int64'),
 (1, 379): Int64Index([50438], dtype='int64'),
 (1, 380): Int64Index([50439], dtype='int64'),
 (1, 381): Int64Index([50440], dtype='int64'),
 (1, 387): Int64Index([50441], dtype='int64'),
 (1, 388): Int64Index([50442], dtype='int64'),
 (1, 389): Int64Index([50443], dtype='int64'),
 (1, 390): Int64Index([50444], dtype='int64'),
 (1, 393): Int64Index([50445], dtype='int64'),
 (1, 394): Int64Index([50446], dtype='int64'),
 (1, 395): Int64Index([50452], dtype='int64'),
 (1, 396): Int64Index([50449], dtype='int64'),
 (1, 398): Int64Index([50447], dtype='int64'),
 (1, 399): Int64Index([50448], dtype='int64'),
 (1, 401): Int64Index([50450], dtype='int64'),
 (1, 402): Int64Index([50451], dtype='int64'),
 (1, 403): Int64Index([50453], dtype='int64'),
 (1, 406): Int64Index([50454], dtype='int64'),
 (1, 407): Int64Index([50455], dtype='int64'),
 (1, 411): Int64Index([50457], dtype='int64'),
 (1, 412): Int64Index([50459], dtype='int64'),
 (1, 416): Int64Index([50456], dtype='int64'),
 (1, 417): Int64Index([50458], dtype='int64'),
 (1, 419): Int64Index([50462], dtype='int64'),
 (1, 422): Int64Index([50460], dtype='int64'),
 (1, 424): Int64Index([50464], dtype='int64'),
 (1, 425): Int64Index([50461], dtype='int64'),
 (1, 429): Int64Index([50463], dtype='int64'),
 (1, 432): Int64Index([50465], dtype='int64'),
 (1, 434): Int64Index([50467], dtype='int64'),
 (1, 435): Int64Index([50466], dtype='int64'),
 (1, 438): Int64Index([50468], dtype='int64'),
 (1, 441): Int64Index([50487], dtype='int64'),
 (1, 445): Int64Index([50469], dtype='int64'),
 (1, 447): Int64Index([50470], dtype='int64'),
 (1, 450): Int64Index([50471], dtype='int64'),
 (1, 454): Int64Index([50472], dtype='int64'),
 (1, 455): Int64Index([50473], dtype='int64'),
 (1, 456): Int64Index([50475], dtype='int64'),
 (1, 457): Int64Index([50474], dtype='int64'),
 (1, 458): Int64Index([50476], dtype='int64'),
 (1, 459): Int64Index([50477], dtype='int64'),
 (1, 460): Int64Index([50478], dtype='int64'),
 (1, 463): Int64Index([50483], dtype='int64'),
 (1, 465): Int64Index([50482], dtype='int64'),
 (1, 467): Int64Index([50479], dtype='int64'),
 (1, 468): Int64Index([50480], dtype='int64'),
 (1, 470): Int64Index([50486], dtype='int64'),
 (1, 471): Int64Index([50484], dtype='int64'),
 (1, 472): Int64Index([50481], dtype='int64'),
 (1, 478): Int64Index([50485], dtype='int64'),
 (1, 479): Int64Index([50488], dtype='int64'),
 (1, 483): Int64Index([50494], dtype='int64'),
 (1, 484): Int64Index([50489], dtype='int64'),
 (1, 486): Int64Index([50490], dtype='int64'),
 (1, 487): Int64Index([50491], dtype='int64'),
 (1, 488): Int64Index([50498], dtype='int64'),
 (1, 490): Int64Index([50493], dtype='int64'),
 (1, 493): Int64Index([50492], dtype='int64'),
 (1, 494): Int64Index([50495], dtype='int64'),
 (1, 495): Int64Index([50496], dtype='int64'),
 (1, 497): Int64Index([50497], dtype='int64'),
 (1, 500): Int64Index([50499], dtype='int64'),
 (1, 503): Int64Index([50500], dtype='int64'),
 (1, 505): Int64Index([50501], dtype='int64'),
 (1, 508): Int64Index([50503], dtype='int64'),
 (1, 512): Int64Index([50504], dtype='int64'),
 (1, 514): Int64Index([50502], dtype='int64'),
 (1, 517): Int64Index([50510], dtype='int64'),
 (1, 518): Int64Index([50506], dtype='int64'),
 (1, 521): Int64Index([50508], dtype='int64'),
 (1, 523): Int64Index([50505], dtype='int64'),
 (1, 525): Int64Index([50507], dtype='int64'),
 (1, 526): Int64Index([50514], dtype='int64'),
 (1, 532): Int64Index([50509], dtype='int64'),
 (1, 533): Int64Index([50511], dtype='int64'),
 (1, 534): Int64Index([50516], dtype='int64'),
 (1, 535): Int64Index([50512], dtype='int64'),
 (1, 536): Int64Index([50513], dtype='int64'),
 (1, 537): Int64Index([50515], dtype='int64'),
 (1, 540): Int64Index([50523], dtype='int64'),
 (1, 541): Int64Index([50517], dtype='int64'),
 (1, 542): Int64Index([50518], dtype='int64'),
 (1, 545): Int64Index([50519], dtype='int64'),
 (1, 548): Int64Index([50520], dtype='int64'),
 (1, 549): Int64Index([50528], dtype='int64'),
 (1, 550): Int64Index([50525], dtype='int64'),
 (1, 552): Int64Index([50522], dtype='int64'),
 (1, 553): Int64Index([50521], dtype='int64'),
 (1, 554): Int64Index([50524], dtype='int64'),
 (1, 560): Int64Index([50526], dtype='int64'),
 (1, 561): Int64Index([50527], dtype='int64'),
 (1, 562): Int64Index([50531], dtype='int64'),
 (1, 567): Int64Index([50529], dtype='int64'),
 (1, 569): Int64Index([50530], dtype='int64'),
 (1, 576): Int64Index([50532], dtype='int64'),
 (1, 577): Int64Index([50533], dtype='int64'),
 (1, 579): Int64Index([50534], dtype='int64'),
 (1, 580): Int64Index([50538], dtype='int64'),
 (1, 582): Int64Index([50536], dtype='int64'),
 (1, 588): Int64Index([50535], dtype='int64'),
 (1, 592): Int64Index([50537], dtype='int64'),
 (1, 593): Int64Index([50539], dtype='int64'),
 (1, 597): Int64Index([50541], dtype='int64'),
 (1, 599): Int64Index([50540], dtype='int64'),
 (1, 602): Int64Index([50542], dtype='int64'),
 (1, 605): Int64Index([50543], dtype='int64'),
 (1, 606): Int64Index([50544], dtype='int64'),
 (1, 609): Int64Index([50548], dtype='int64'),
 (1, 610): Int64Index([50545], dtype='int64'),
 (1, 612): Int64Index([50554], dtype='int64'),
 (1, 613): Int64Index([50550], dtype='int64'),
 (1, 614): Int64Index([50547], dtype='int64'),
 (1, 618): Int64Index([50546], dtype='int64'),
 (1, 620): Int64Index([50549], dtype='int64'),
 (1, 621): Int64Index([50552], dtype='int64'),
 (1, 622): Int64Index([50551], dtype='int64'),
 (1, 624): Int64Index([50553], dtype='int64'),
 (1, 630): Int64Index([50557], dtype='int64'),
 (1, 632): Int64Index([50555], dtype='int64'),
 (1, 634): Int64Index([50556], dtype='int64'),
 (1, 635): Int64Index([50561], dtype='int64'),
 (1, 636): Int64Index([50562], dtype='int64'),
 (1, 637): Int64Index([50559], dtype='int64'),
 (1, 642): Int64Index([50558], dtype='int64'),
 (1, 643): Int64Index([50560], dtype='int64'),
 (1, 648): Int64Index([50563], dtype='int64'),
 (1, 649): Int64Index([50568], dtype='int64'),
 (1, 650): Int64Index([50564], dtype='int64'),
 (1, 653): Int64Index([50566], dtype='int64'),
 (1, 654): Int64Index([50565], dtype='int64'),
 (1, 655): Int64Index([50567], dtype='int64'),
 (1, 657): Int64Index([50573], dtype='int64'),
 (1, 658): Int64Index([50569], dtype='int64'),
 (1, 660): Int64Index([50570], dtype='int64'),
 (1, 661): Int64Index([50575], dtype='int64'),
 (1, 663): Int64Index([50571], dtype='int64'),
 (1, 664): Int64Index([50572], dtype='int64'),
 (1, 665): Int64Index([50574], dtype='int64'),
 (1, 669): Int64Index([50576], dtype='int64'),
 (1, 674): Int64Index([50578], dtype='int64'),
 (1, 676): Int64Index([50577], dtype='int64'),
 (1, 677): Int64Index([50579], dtype='int64'),
 (1, 678): Int64Index([50598], dtype='int64'),
 (1, 679): Int64Index([50581], dtype='int64'),
 (1, 680): Int64Index([50589], dtype='int64'),
 (1, 682): Int64Index([50580], dtype='int64'),
 (1, 684): Int64Index([50582], dtype='int64'),
 (1, 689): Int64Index([50586], dtype='int64'),
 (1, 690): Int64Index([50585], dtype='int64'),
 (1, 691): Int64Index([50583], dtype='int64'),
 (1, 692): Int64Index([50584], dtype='int64'),
 (1, 697): Int64Index([50587], dtype='int64'),
 (1, 698): Int64Index([50588], dtype='int64'),
 (1, 699): Int64Index([50592], dtype='int64'),
 (1, 701): Int64Index([50591], dtype='int64'),
 (1, 703): Int64Index([50604], dtype='int64'),
 (1, 705): Int64Index([50590], dtype='int64'),
 (1, 706): Int64Index([50602], dtype='int64'),
 (1, 708): Int64Index([50593], dtype='int64'),
 (1, 709): Int64Index([50594], dtype='int64'),
 (1, 710): Int64Index([50595], dtype='int64'),
 (1, 714): Int64Index([50600], dtype='int64'),
 (1, 715): Int64Index([50596], dtype='int64'),
 (1, 716): Int64Index([50597], dtype='int64'),
 (1, 721): Int64Index([50599], dtype='int64'),
 (1, 723): Int64Index([50612], dtype='int64'),
 (1, 726): Int64Index([50603], dtype='int64'),
 (1, 727): Int64Index([50601], dtype='int64'),
 (1, 730): Int64Index([50606], dtype='int64'),
 (1, 731): Int64Index([50616], dtype='int64'),
 (1, 733): Int64Index([50608], dtype='int64'),
 (1, 735): Int64Index([50610], dtype='int64'),
 (1, 738): Int64Index([50605], dtype='int64'),
 (1, 742): Int64Index([50607], dtype='int64'),
 (1, 744): Int64Index([50620], dtype='int64'),
 (1, 745): Int64Index([50609], dtype='int64'),
 (1, 746): Int64Index([50615], dtype='int64'),
 (1, 747): Int64Index([50611], dtype='int64'),
 (1, 748): Int64Index([50614], dtype='int64'),
 (1, 749): Int64Index([50613], dtype='int64'),
 (1, 751): Int64Index([50617], dtype='int64'),
 (1, 756): Int64Index([50618], dtype='int64'),
 (1, 757): Int64Index([50619], dtype='int64'),
 (1, 759): Int64Index([50630], dtype='int64'),
 (1, 761): Int64Index([50628], dtype='int64'),
 (1, 763): Int64Index([50621], dtype='int64'),
 (1, 764): Int64Index([50622], dtype='int64'),
 (1, 767): Int64Index([50623], dtype='int64'),
 (1, 768): Int64Index([50626], dtype='int64'),
 (1, 769): Int64Index([50624], dtype='int64'),
 (1, 770): Int64Index([50633], dtype='int64'),
 (1, 771): Int64Index([50625], dtype='int64'),
 (1, 773): Int64Index([50627], dtype='int64'),
 (1, 777): Int64Index([50629], dtype='int64'),
 (1, 779): Int64Index([50631], dtype='int64'),
 (1, 785): Int64Index([50637], dtype='int64'),
 (1, 786): Int64Index([50632], dtype='int64'),
 (1, 788): Int64Index([50634], dtype='int64'),
 (1, 789): Int64Index([50635], dtype='int64'),
 (1, 790): Int64Index([50636], dtype='int64'),
 (1, 792): Int64Index([50645], dtype='int64'),
 (1, 793): Int64Index([50641], dtype='int64'),
 (1, 794): Int64Index([50638], dtype='int64'),
 (1, 795): Int64Index([50640], dtype='int64'),
 (1, 796): Int64Index([50639], dtype='int64'),
 (1, 798): Int64Index([50642], dtype='int64'),
 (1, 800): Int64Index([50643], dtype='int64'),
 (1, 804): Int64Index([50644], dtype='int64'),
 (1, 805): Int64Index([50646], dtype='int64'),
 (1, 806): Int64Index([50647], dtype='int64'),
 (1, 807): Int64Index([50648], dtype='int64'),
 (1, 815): Int64Index([50649], dtype='int64'),
 (1, 817): Int64Index([50650], dtype='int64'),
 (1, 821): Int64Index([50651], dtype='int64'),
 (1, 822): Int64Index([50662], dtype='int64'),
 (1, 823): Int64Index([50652], dtype='int64'),
 (1, 826): Int64Index([50655], dtype='int64'),
 (1, 829): Int64Index([50653], dtype='int64'),
 (1, 830): Int64Index([50654], dtype='int64'),
 (1, 831): Int64Index([50656], dtype='int64'),
 (1, 835): Int64Index([50657], dtype='int64'),
 (1, 838): Int64Index([50658], dtype='int64'),
 (1, 839): Int64Index([50659], dtype='int64'),
 (1, 843): Int64Index([50660], dtype='int64'),
 (1, 847): Int64Index([50661], dtype='int64'),
 (1, 852): Int64Index([50663], dtype='int64'),
 (1, 854): Int64Index([50664], dtype='int64'),
 (1, 864): Int64Index([50665], dtype='int64'),
 (1, 865): Int64Index([50666], dtype='int64'),
 (1, 867): Int64Index([50668], dtype='int64'),
 (1, 868): Int64Index([50667], dtype='int64'),
 (1, 870): Int64Index([50669], dtype='int64'),
 (1, 872): Int64Index([50670], dtype='int64'),
 (1, 879): Int64Index([50673], dtype='int64'),
 (1, 880): Int64Index([50671], dtype='int64'),
 (1, 881): Int64Index([50672], dtype='int64'),
 (1, 882): Int64Index([50675], dtype='int64'),
 (1, 883): Int64Index([50674], dtype='int64'),
 (1, 885): Int64Index([50677], dtype='int64'),
 (1, 886): Int64Index([50676], dtype='int64'),
 (1, 887): Int64Index([50682], dtype='int64'),
 (1, 889): Int64Index([50678], dtype='int64'),
 (1, 890): Int64Index([50680], dtype='int64'),
 (1, 892): Int64Index([50679], dtype='int64'),
 (1, 893): Int64Index([50681], dtype='int64'),
 (1, 894): Int64Index([50683], dtype='int64'),
 (1, 895): Int64Index([50691], dtype='int64'),
 (1, 896): Int64Index([50684], dtype='int64'),

and display the content only of necessary group

In [89]:
movies_grouped.get_group(251)

,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,age,gender,movie_title,occupation,rating,release_date,timestamp,unknown,user_id,zip_code
409,0,0,0,0,1,0,0,0,0,0,...,49.0,M,Shall We Dance? (1996),writer,3,1997-07-11,881251274,0,196,55105
410,0,0,0,0,1,0,0,0,0,0,...,23.0,M,Shall We Dance? (1996),programmer,5,1997-07-11,886321764,0,305,94086
411,0,0,0,0,1,0,0,0,0,0,...,27.0,M,Shall We Dance? (1996),student,5,1997-07-11,876521678,0,286,15217
412,0,0,0,0,1,0,0,0,0,0,...,19.0,M,Shall We Dance? (1996),student,4,1997-07-11,879544533,0,303,14853
413,0,0,0,0,1,0,0,0,0,0,...,29.0,M,Shall We Dance? (1996),doctor,5,1997-07-11,877877434,0,299,63108
414,0,0,0,0,1,0,0,0,0,0,...,31.0,M,Shall We Dance? (1996),marketing,4,1997-07-11,875747514,0,63,75240
415,0,0,0,0,1,0,0,0,0,0,...,26.0,M,Shall We Dance? (1996),executive,1,1997-07-11,878962052,0,181,21218
416,0,0,0,0,1,0,0,0,0,0,...,24.0,M,Shall We Dance? (1996),writer,4,1997-07-11,888904734,0,293,60804
417,0,0,0,0,1,0,0,0,0,0,...,24.0,M,Shall We Dance? (1996),technician,4,1997-07-11,875071843,0,1,85711
418,0,0,0,0,1,0,0,0,0,0,...,49.0,F,Shall We Dance? (1996),educator,2,1997-07-11,879455541,0,15,97301
419,0,0,0,0,1,0,0,0,0,0,...,43.0,F,Shall We Dance? (1996),administrator,5,1997-07-11,884196523,0,296,16803
420,0,0,0,0,1,0,0,0,0,0,...,18.0,F,Shall We Dance? (1996),student,5,1997-07-11,876954752,0,270,63119
421,0,0,0,0,1,0,0,0,0,0,...,53.0,M,Shall We Dance? (1996),programmer,4,1997-07-11,888103929,0,144,20910
422,0,0,0,0,1,0,0,0,0,0,...,59.0,F,Shall We Dance? (1996),administrator,5,1997-07-11,883681723,0,131,15237
423,0,0,0,0,1,0,0,0,0,0,...,39.0,F,Shall We Dance? (1996),administrator,5,1997-07-11,891271545,0,79,03755
424,0,0,0,0,1,0,0,0,0,0,...,53.0,F,Shall We Dance? (1996),other,5,1997-07-11,888552084,0,2,94043
425,0,0,0,0,1,0,0,0,0,0,...,37.0,M,Shall We Dance? (1996),educator,5,1997-07-11,879436035,0,310,91711
426,0,0,0,0,1,0,0,0,0,0,...,33.0,F,Shall We Dance? (1996),educator,5,1997-07-11,883417810,0,209,85710
427,0,0,0,0,1,0,0,0,0,0,...,28.0,M,Shall We Dance? (1996),engineer,4,1997-07-11,893081395,0,247,20770
428,0,0,0,0,1,0,0,0,0,0,...,24.0,M,Shall We Dance? (1996),other,4,1997-07-11,891278996,0,132,94612
429,0,0,0,0,1,0,0,0,0,0,...,25.0,F,Shall We Dance? (1996),other,5,1997-07-11,875318267,0,342,98006
430,0,0,0,0,1,0,0,0,0,0,...,30.0,F,Shall We Dance? (1996),librarian,5,1997-07-11,889814518,0,344,94117
431,0,0,0,0,1,0,0,0,0,0,...,28.0,F,Shall We Dance? (1996),librarian,5,1997-07-11,884994119,0,345,94143
432,0,0,0,0,1,0,0,0,0,0,...,29.0,F,Shall We Dance? (1996),NaN,5,1997-07-11,891216691,0,354,48197
433,0,0,0,0,1,0,0,0,0,0,...,51.0,M,Shall We Dance? (1996),other,5,1997-07-11,880354315,0,360,98027
434,0,0,0,0,1,0,0,0,0,0,...,44.0,M,Shall We Dance? (1996),programmer,5,1997-07-11,885063301,0,379,98117
435,0,0,0,0,1,0,0,0,0,0,...,36.0,M,Shall We Dance? (1996),writer,2,1997-07-11,879440098,0,385,10003
436,0,0,0,0,1,0,0,0,0,0,...,20.0,F,Shall We Dance? (1996),NaN,5,1997-07-11,893213405,0,416,92626
437,0,0,0,0,1,0,0,0,0,0,...,53.0,M,Shall We Dance? (1996),educator,5,1997-07-11,891357070,0,420,02140
438,0,0,0,0,1,0,0,0,0,0,...,23.0,M,Shall We Dance? (1996),librarian,3,1997-07-11,879958603,0,449,55021
439,0,0,0,0,1,0,0,0,0,0,...,51.0,F,Shall We Dance? (1996),lawyer,5,1997-07-11,890247385,0,444,53202
440,0,0,0,0,1,0,0,0,0,0,...,28.0,M,Shall We Dance? (1996),engineer,4,1997-07-11,875280180,0,468,02341
441,0,0,0,0,1,0,0,0,0,0,...,NaN,M,Shall We Dance? (1996),educator,5,1997-07-11,879874582,0,486,93101
442,0,0,0,0,1,0,0,0,0,0,...,26.0,M,Shall We Dance? (1996),writer,3,1997-07-11,881954219,0,498,55408
443,0,0,0,0,1,0,0,0,0,0,...,42.0,M,Shall We Dance? (1996),programmer,5,1997-07-11,882996735,0,499,75006
444,0,0,0,0,1,0,0,0,0,0,...,20.0,M,Shall We Dance? (1996),student,4,1997-07-11,888636374,0,532,92705
445,0,0,0,0,1,0,0,0,0,0,...,18.0,M,Shall We Dance? (1996),student,5,1997-07-11,882607955,0,592,97520
446,0,0,0,0,1,0,0,0,0,0,...,50.0,F,Shall We Dance? (1996),healthcare,3,1997-07-11,888984417,0,655,60657
447,0,0,0,0,1,0,0,0,0,0,...,56.0,F,Shall We Dance? (1996),librarian,5,1997-07-11,880059647,0,707,19146
448,0,0,0,0,1,0,0,0,0,0,...,30.0,F,Shall We Dance? (1996),none,4,1997-07-11,875129238,0,756,90247
449,0,0,0,0,1,0,0,0,0,0,...,26.0,M,Shall We Dance? (1996),student,5,1997-07-11,880660087,0,771,15232
450,0,0,0,0,1,0,0,0,0,0,...,20.0,M,Shall We Dance? (1996),student,3,1997-07-11,888538573,0,773,55414
451,0,0,0,0,1,0,0,0,0,0,...,21.0,F,Shall We Dance? (1996),artist,3,1997-07-11,891500109,0,782,33205
452,0,0,0,0,1,0,0,0,0,0,...,22.0,M,Shall We Dance? (1996),engineer,4,1997-07-11,877381484,0,844,95662
453,0,0,0,0,1,0,0,0,0,0,...,49.0,M,Shall We Dance? (1996),librarian,5,1997-07-11,891692657,0,883,50266
454,0,0,0,0,1,0,0,0,0,0,...,24.0,M,Shall We Dance? (1996),other,4,1997-07-11,886832134,0,936,32789

We have just one helpful and powerful option, `filter()`. For demonstrating how you can use it, let’s select at first new DataFrame by grouping movies by `‘age’` column.

In [90]:
age = movies[['user_id','movie_id','rating','timestamp','age','occupation','movie_title','release_date']]\
            .groupby('age')

for k,v in list(age)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in age:
    print(k)
    print(v)

7.0
       user_id  movie_id  rating  timestamp  age occupation  \
41          30       242       5  885941156  7.0    student
1992        30       286       5  885941156  7.0        NaN
3523        30       257       4  885941257  7.0    student
4763        30      1007       5  885941156  7.0    student
17506       30       258       5  885941156  7.0    student
19035       30       294       4  875140648  7.0    student
22203       30        29       3  875106638  7.0    student
22293       30       683       3  885941798  7.0    student
22396       30       403       2  875061066  7.0    student
22667       30       435       5  885941156  7.0    student
24343       30       172       4  875060742  7.0    student
27656       30       231       2  875061066  7.0    student
30027       30       181       4  875060217  7.0    student
30761       30         2       3  875061066  7.0    student
30925       30       161       4  875060883  7.0        NaN
31087       30       688       3  885941492  7.0    student
33484       30        50       3  875061066  7.0        NaN
34339       30       174       5  885941156  7.0    student
36820       30         7       4  875140648  7.0    student
40317       30       164       4  875060217  7.0    student
41400       30       135       5  885941156  7.0        NaN
41935       30        69       5  885941156  7.0    student
43088       30       255       4  875059984  7.0    student
48634       30        82       4  875060217  7.0    student
53019       30        28       4  885941321  7.0    student
55562       30       751       3  884310551  7.0    student
55970       30       313       5  885941156  7.0    student
56262       30       315       4  885941412  7.0    student
56767       30       252       3  875140740  7.0    student
67378       30       259       4  875058280  7.0    student
71539       30       289       2  876847817  7.0    student
75898       30       304       4  875988548  7.0    student
76563       30       321       4  875988547  7.0    student
77168       30       538       4  885941798  7.0    student
77830       30       531       5  885941156  7.0    student
77943       30       539       3  885941454  7.0    student
82831       30       892       4  884310496  7.0    student
85338       30       678       2  885942002  7.0    student
85510       30       873       1  875061066  7.0        NaN
88479       30      1013       3  875060334  7.0    student
89582       30       319       4  875060217  7.0    student

                                     movie_title release_date
41                                  Kolya (1996)   1997-01-24
1992                 English Patient, The (1996)   1996-11-15
3523                         Men in Black (1997)   1997-07-04
4763                  Waiting for Guffman (1996)   1997-01-31
17506                             Contact (1997)   1997-07-11
19035                           Liar Liar (1997)   1997-03-21
22203                      Batman Forever (1995)   1995-01-01
22293                          Rocket Man (1997)   1997-01-01
22396                              Batman (1989)   1989-01-01
22667  Butch Cassidy and the Sundance Kid (1969)   1969-01-01
24343            Empire Strikes Back, The (1980)   1980-01-01
27656                      Batman Returns (1992)   1992-01-01
30027                  Return of the Jedi (1983)   1997-03-14
30761                           GoldenEye (1995)   1995-01-01
30925                             Top Gun (1986)   1986-01-01
31087                  Leave It to Beaver (1997)   1997-08-22
33484                           Star Wars (1977)   1977-01-01
34339             Raiders of the Lost Ark (1981)   1981-01-01
36820                      Twelve Monkeys (1995)   1995-01-01
40317                          Abyss, The (1989)   1989-01-01
41400               2001: A Space Odyssey (1968)   1968-01-01
41935                        Forrest Gump (1994)   1994-01-01
43088            My Best Friend's Wedding (1997)   1997-06-20
48634                       Jurassic Park (1993)   1993-01-01
53019                           Apollo 13 (1995)   1995-01-01
55562                 Tomorrow Never Dies (1997)   1997-01-01
55970                             Titanic (1997)   1997-01-01
56262                           Apt Pupil (1998)   1998-10-23
56767      Lost World: Jurassic Park, The (1997)   1997-05-23
67378                George of the Jungle (1997)   1997-01-01
71539                               Evita (1996)   1996-12-25
75898                       Fly Away Home (1996)   1996-09-13
76563                              Mother (1996)   1996-12-25
77168                           Anastasia (1997)   1997-01-01
77830                               Shine (1996)   1996-11-22
77943                          Mouse Hunt (1997)   1997-01-01
82831                             Flubber (1997)   1997-01-01
85338                             Volcano (1997)   1997-04-25
85510                     Picture Perfect (1997)   1997-08-01
88479                            Anaconda (1997)   1997-04-11
89582            Everyone Says I Love You (1996)   1996-12-06
10.0
       user_id  movie_id  rating  timestamp   age occupation  \
215        471       393       5  889827918  10.0    student
2405       471        94       5  889828081  10.0    student
2752       471         8       5  889827881  10.0    student
7790       471       588       1  889827881  10.0    student
9784       471        71       3  889828154  10.0    student
11167      471       225       5  889828026  10.0    student
13486      471       596       1  889827881  10.0    student
13648      471        95       4  889827822  10.0    student
17298      471       477       5  889827918  10.0    student
23719      471       878       4  889827710  10.0    student
24410      471       172       4  889827822  10.0    student
33593      471        50       3  889827757  10.0    student
42644      471       151       2  889828154  10.0    student
45795      471       946       2  889827982  10.0    student
48679      471        82       5  889827822  10.0    student
57260      471       432       1  889827822  10.0    student
57417      471       418       3  889827757  10.0    student
57523      471       465       5  889827822  10.0    student
59172      471        99       2  889827918  10.0    student
65113      471       969       2  889828154  10.0    student
77033      471       501       3  889828027  10.0    student
80654      471       404       2  889827757  10.0    student
81019      471       768       3  889827982  10.0    student
83814      471       420       1  889828027  10.0    student
83879      471       140       5  889827918  10.0    student
84067      471      1219       4  889828026  10.0    student
90293      471       627       1  889827881  10.0    student
93004      471       102       5  889828081  10.0        NaN
95199      471       422       5  889827982  10.0    student

                                         movie_title release_date
215                            Mrs. Doubtfire (1993)   1993-01-01
2405                               Home Alone (1990)   1990-01-01
2752                                     Babe (1995)   1995-01-01
7790                     Beauty and the Beast (1991)   1991-01-01
9784                           Lion King, The (1994)   1994-01-01
11167                          101 Dalmatians (1996)   1996-11-27
13486            Hunchback of Notre Dame, The (1996)   1996-06-21
13648                                 Aladdin (1992)   1992-01-01
17298                                 Matilda (1996)   1996-08-02
23719                          That Darn Cat! (1997)   1997-02-14
24410                Empire Strikes Back, The (1980)   1980-01-01
33593                               Star Wars (1977)   1977-01-01
42644   Willy Wonka and the Chocolate Factory (1971)   1971-01-01
45795                  Fox and the Hound, The (1981)   1981-01-01
48679                           Jurassic Park (1993)   1993-01-01
57260                                Fantasia (1940)   1940-01-01
57417                              Cinderella (1950)   1950-01-01
57523                        Jungle Book, The (1994)   1994-01-01
59172         Snow White and the Seven Dwarfs (1937)   1937-01-01
65113    Winnie the Pooh and the Blustery Day (1968)   1968-01-01
77033                                   Dumbo (1941)   1941-01-01
80654                               Pinocchio (1940)   1940-01-01
81019                                  Casper (1995)   1995-01-01
83814                     Alice in Wonderland (1951)   1951-01-01
83879  Homeward Bound: The Incredible Journey (1993)   1993-01-01
84067                          Goofy Movie, A (1995)   1995-01-01
90293           Robin Hood: Prince of Thieves (1991)   1991-01-01
93004                         Aristocats, The (1970)   1970-01-01
95199         Aladdin and the King of Thieves (1996)   1996-01-01
11.0
       user_id  movie_id  rating  timestamp   age occupation  \
8881       289       742       4  876789463  11.0       none
10197      289       117       4  876789514  11.0       none
13936      289      1016       5  876789843  11.0       none
14811      289       121       3  876789736  11.0       none
17281      289       477       2  876790323  11.0       none
19923      289       405       2  876790576  11.0       none
20210      289       147       3  876789581  11.0       none
23220      289       222       2  876789463  11.0       none
23786      289       455       4  876790464  11.0        NaN
29021      289        24       4  876790292  11.0       none
29441      289       109       3  876789628  11.0       none
29723      289        21       1  876790499  11.0       none
33113      289       926       3  876790611  11.0       none
35368      289       815       3  876789581  11.0        NaN
36822      289         7       4  876789628  11.0       none
42585      289       151       2  876790499  11.0       none
43732      289       685       4  876789373  11.0       none
44908      289       410       2  876790361  11.0       none
50407      289         1       3  876789736  11.0       none
58032      289       473       1  876790576  11.0       none
63039      289       125       2  876789373  11.0       none
63931      289       282       3  876789180  11.0       none
68408      289        15       3  876789581  11.0       none
83590      289       363       3  876790653  11.0       none
87257      289       849       4  876789943  11.0       none
94296      289       254       1  876790734  11.0       none

                                          movie_title release_date
8881                                    Ransom (1996)   1996-11-08
10197                                Rock, The (1996)   1996-06-07
13936                                  Con Air (1997)   1997-06-06
14811                   Independence Day (ID4) (1996)   1996-07-03
17281                                  Matilda (1996)   1996-08-02
19923                      Mission: Impossible (1996)   1996-05-22
20210                 Long Kiss Goodnight, The (1996)   1996-10-05
23220                 Star Trek: First Contact (1996)   1996-11-22
23786               Jackie Chan's First Strike (1996)   1997-01-10
29021                      Rumble in the Bronx (1995)   1996-02-23
29441  Mystery Science Theater 3000: The Movie (1996)   1996-04-19
29723                   Muppet Treasure Island (1996)   1996-02-16
33113                           Down Periscope (1996)   1996-03-01
35368                             One Fine Day (1996)   1996-11-30
36822                           Twelve Monkeys (1995)   1995-01-01
42585    Willy Wonka and the Chocolate Factory (1971)   1971-01-01
43732                       Executive Decision (1996)   1996-03-09
44908                                  Kingpin (1996)   1996-07-12
50407                                Toy Story (1995)   1995-01-01
58032                James and the Giant Peach (1996)   1996-04-12
63039                               Phenomenon (1996)   1996-06-29
63931                          Time to Kill, A (1996)   1996-07-13
68408                       Mr. Holland's Opus (1995)   1996-01-29
83590                             Sudden Death (1995)   1995-01-01
87257                          Days of Thunder (1990)   1990-01-01
94296                           Batman & Robin (1997)   1997-06-20

Suppose you need remain only those groups where there are less than 100 items. Sure, you may hardly calculate amount of items in each group and then remove not satisfying for condition. But it can be done very easily.

In [91]:
age.filter(lambda x: len(x) < 100).head(10)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
28,131,242,5,883681723,59.0,administrator,Kolya (1996),1997-01-24
41,30,242,5,885941156,7.0,student,Kolya (1996),1997-01-24
69,520,242,5,885168819,62.0,healthcare,Kolya (1996),1997-01-24
108,845,242,4,885409493,64.0,doctor,Kolya (1996),1997-01-24
215,471,393,5,889827918,10.0,student,Mrs. Doubtfire (1993),1993-01-01
220,481,393,3,885829045,73.0,retired,Mrs. Doubtfire (1993),1993-01-01
391,819,381,4,884105841,59.0,administrator,Muriel's Wedding (1994),1994-01-01
422,131,251,5,883681723,59.0,administrator,Shall We Dance? (1996),1997-07-11
871,845,306,2,885409374,64.0,doctor,"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",1997-01-01
1022,481,238,4,885828245,73.0,retired,Raising Arizona (1987),1987-01-01